﻿@using FH.Admin_Web.ViewModel;
@model GetAllTenantVM

@{
    ViewBag.Title = "Tenant List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="wrapper wrapper-content">
    <h3>Tenant List</h3>

    <form action="/tenant/list" method="get">
        <div class="ibox float-e-margins">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="custom_collapse_btn"><i class="fa fa-plus"></i></div>
                    <h5>Filter</h5>
                </div>
                <div class="ibox-content custom_collapse_body">

                    <div class="row">
                        <div class="col-md-12-0">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Tenant ID</label>
                                    <input type="text" name="Tid" class="form-control" value="@if (@Model.Tid > 0) { @Model.Tid.ToString() }" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Property ID</label>
                                    <input type="text" name="Pid" class="form-control" value="@if (@Model.Pid > 0) { @Model.Pid.ToString() }" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Tenant Mobile</label>
                                    @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Tenant Room No.</label>
                                    <input type="text" name="RoomNo" class="form-control" value="@if (@Model.RoomNo > 0) { @Model.RoomNo.ToString() }" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Is Active</label>
                                    <select class="form-control" name="IsActive1" id="IsActive1">
                                        <option value="1">Active</option>
                                        <option value="0">In Active</option>
                                    </select> 
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" style="margin-top:25px">
                                        <i class="fa fa-search-plus"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-bordered" style="font-size:12px">
                        <thead>
                            <tr>
                                <th>
                                    Is Active
                                </th>
                                <th>
                                    Tenant
                                </th>
                                <th>
                                    Property
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Mobile
                                </th>
                                <th>
                                    Room No.
                                </th>
                                <th>
                                    Security Amount
                                </th>
                                <th>
                                    Security Deposit
                                </th>
                                <th>
                                    Rent
                                </th>
                                <th>
                                    Check In Date
                                </th>
                                <th>
                                    Check Out Date
                                </th>
                                <th>
                                    Check Out Request On
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.TenantList != null)
                            {
                                foreach (var item in Model.TenantList)
                                {
                            <tr>
                                <td>
                                    @if (item.IsActive == true) { 
                                        <label class="text-success">Active</label>
                                    } else { 
                                        <label class="text-danger">In Active</label>
                                    }
                                </td>
                                <td>@item.TenantId</td>
                                <td>@item.PropertyId</td>
                                <td>@item.Name</td>
                                <td>@item.Mobile</td>   
                                <td>@if (item.RoomNo != 0) { @item.RoomNo if (item.Occupancy == 0.5) { <span>(Sharing)</span> } else{ <span>(Private)</span> } }   </td>
                                <td>@item.SecurityAmount</td> 
                                <td>@item.SecurityDeposit</td>
                                <td>@item.MonthlyRent</td>
                                <td>@(item.CheckInDate != null ? ((DateTime)item.CheckInDate).ToString("dd MMM yyyy") : "")</td>
                                <td>@(item.CheckOutDate != null ? ((DateTime)item.CheckOutDate).ToString("dd MMM yyyy") : "")</td>
                                <td>@(item.UpdatedOn != null ? ((DateTime)item.UpdatedOn).ToString("dd MMM yyyy") : "")</td>
                                <td>
                                    <button type="button" class="btn btn-success btn-xs">
                                        <i class="fa fa-rupee" onclick="showPaymentHistory(@item.TenantId)"></i>
                                    </button>
                                    <a href="/tenant/edit?tid=@item.TenantId" class="btn btn-success btn-xs">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                                }
                            }
                        </tbody>  
                    </table>
                    @Html.Partial("_Pager", Model.Pager)
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function showPaymentHistory(tenantId) {
        $.get('/tenant/TenantPaymentHistory', { tenantId: tenantId }, function (data) {
            $('#tenantLogModel').remove();
            $('body').append(data);
            $('#tenantLogModel').modal('show');
        });
    }

    function closeModel() {
        $('#tenantLogModel').modal('hide');
    }
</script>
