﻿@using FH.Admin.Entities
@model IEnumerable<AllLeadList>

<table class="table table-bordered" style="font-size:12px">
    <thead>
      <tr>
          <td>Lead ID</td>
          <td>Property ID</td>
          <td>Name</td>
          <td>Mobile</td>
          <td>Gender</td>
          <td>Locality</td>
          <td>Source</td>
          <td>Lead Date</td>
      </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.LeadId</td>
                    <td>@item.PropertyId</td>
                    <td>@item.LeadName</td>
                    <td>@item.LeadMobile</td>
                    <td>@item.TenantGender</td>
                    <td>@item.Locality</td>
                    <td>@item.LeadSource</td>
                    <td>@item.LeadDate.ToString("dd MMM yyyy")</td>
                </tr>
            }
        }

    </tbody>
</table>


