﻿@using FH.Admin.Entities
@model IEnumerable<PropertyForLead>

<div class="ibox-content">
    @if (Model != null && Model.Count() > 0)
    {
        <div class="row">
            <div class="col-md-4">
                <input type="text" id="clientName" class="form-control" placeholder="Client Name" maxlength="50" />
            </div>
            <div class="col-md-4">
                <input type="text" id="clientMobile" class="form-control" placeholder="Client Mobile No" maxlength="10" />
            </div>
            <div class="col-md-4">
                <button type="button" id="btnAddLead" onclick="addLead()" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
            </div>
        </div>
        <br />
    }

    <div class="table-responsive">
        <table class="table table-bordered" style="font-size:12px">
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>Plan</th>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Title</th>
                    <th>Rent</th>
                    <th>Deposit</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count() > 0)
                {
                    int i = 0;
                    foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <td><input type="checkbox" class="chkPId" value="@item.PropertyId" /></td>
                            <td>@i</td>
                            <td>@if (item.PlanID != 0)
                            {
                                <label style="color:@item.Color">@item.PlanName (@item.NumberOfLeads)</label>
                            }  else { <label>No Plan</label> }</td>
                            <td>@item.PropertyId</td>
                            <td>@item.PropertyType</td>
                            <td>@item.Title</td>                            
                            <td>@item.Rent</td>
                            <td>@item.Deposit</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8">No Data Found..</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function addLead() {
        var pid = [];
        $.each($('.chkPID:checked'), function () {
            pid.push($(this).val())
        });

        loading.show("#btnAddLead");
        var data = { clientName: $('#clientName').val(), clientMobile: $('#clientMobile').val(),pid:pid };
        $.post('/lead/addofflinelead',data, function (res) {
            if (res.Success == true)
                showSuccessMessage(res.Message);
            else
                showError(res.Message);

            loading.hide("#btnAddLead", "<i class='fa fa-plus'></i> Add");
        });        
    }
</script>