﻿@{
    ViewBag.Title = "Add Offline Lead";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="wrapper wrapper-content">
    <h2 style="margin-top:0px">Add Offline Lead</h2>
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row">
                <input type="hidden" id="hdnLat" />
                <input type="hidden" id="hdnLng" />
                <div class="col-md-4">
                    <div class="form-group">
                        <select id="PType" class="form-control">
                            @foreach (var item in PropertyType.GetAll())
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" id="PId" placeholder="Property Id's" class="form-control" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" id="locality" placeholder="Locality" class="form-control" value="" />
                    </div>
                </div>
                <div class="col-md-4 pg ptype">
                    <div class="form-group">
                        <div class="dv-list-item gender" data-val="Male">Male</div>
                        <div class="dv-list-item gender" data-val="FeMale">FeMale</div>
                        <div class="dv-list-item gender" data-val="Co-Living">Co-Living</div>
                    </div>
                </div>
                <div class="col-md-4 pg room ptype">
                    <div class="form-group">
                        <div class="dv-list-item room-type" data-val="Private Room">Private Room</div>
                        <div class="dv-list-item room-type" data-val="Shared Room">Shared Room</div>
                    </div>
                </div>
                <div class="col-md-4 room ptype">
                    <div class="form-group">
                        <div class="dv-list-item tenant" data-val="Family">Family</div>
                        <div class="dv-list-item tenant" data-val="Bechelors">Bechelors</div>
                        <div class="dv-list-item tenant" data-val="Company">Company</div>
                    </div>
                </div>
                <div class="col-md-4 flat ptype">
                    <div class="form-group">
                        @foreach (var item in BHKType.GetAll())
                        {
                            <div class="dv-list-item bhk" data-val="@item.Value">@item.Value</div>
                        }
                    </div>
                </div>
                <div class="col-md-4 flat ptype">
                    <div class="form-group">
                        @foreach (var item in ApartmentType.GetAll())
                        {
                            <div class="dv-list-item apartment" data-val="@item.Value">@item.Value</div>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="button" onclick="getProperty()" class="btn btn-primary">
                        <i class="fa fa-search-plus"></i> Search
                    </button>
                </div>
            </div>
        </div>
      <br />
        <div id="content"></div>
    </div>
</div>
@Html.Partial("~/Views/Property/_GoogleMapGeoDecode.cshtml")
<script>
    function getProperty() {
        $('#content').html('');

        var gender = '';
        $('.gender').each(function () {
            if ($(this).hasClass('active')) {
                if (gender=='')
                    gender = $(this).data('val');
                else
                    gender +=','+ $(this).data('val');
            }
        });

        var roomType = '';
        $('.room-type').each(function () {
            if ($(this).hasClass('active')) {
                if (roomType=='')
                    roomType = $(this).data('val');
                else
                    roomType += ',' + $(this).data('val');
            }
        });

        var tenant = '';
        $('.tenant').each(function () {
            if ($(this).hasClass('active')) {
                if (tenant=='')
                    tenant = $(this).data('val');
                else
                    tenant += ',' + $(this).data('val');
            }
        });

        var bhk = '';
        $('.bhk').each(function () {
            if ($(this).hasClass('active')) {
                if (bhk=='')
                    bhk = $(this).data('val');
                else
                    bhk += ',' + $(this).data('val');
            }
        });

        var apartment = '';
        $('.apartment').each(function () {
            if ($(this).hasClass('active')) {
                if (apartment=='')
                    apartment = $(this).data('val');
                else
                    apartment += ',' + $(this).data('val');
            }
        });  
     
        $.get('/lead/propertyforlead', {
            lat: $('#hdnLat').val(), lng: $('#hdnLng').val(), pType: $('#PType option:selected').val(), pId: $('#PId').val(),
            Gender: gender, Tenant: tenant, RoomType: roomType, Bhk: bhk, Apartment: apartment
        }, function (data) {
            $('#content').html(data);
        }); 
    }

    $('#PType').change(function () {
        clearFilter();
        $('.ptype').hide();
        if ($(this).val() == "PG")
            $('.pg').show();
        if ($(this).val() == "Room")
            $('.room').show();
        if ($(this).val() == "Flat" || $(this).val() == "Flatmate")
            $('.flat').show();        
    });

    $(function () {
        $('.ptype').hide();
        $('.flat').show();
    });

    $('.bhk,.gender,.room-type,.tenant,.apartment').click(function () {
        $(this).toggleClass('active');
    });

    function clearFilter() {
        $('.gender,.tenant,.room-type,.bhk,.apartment').removeClass('active');
    }
</script>