﻿@using FH.Admin_Web.ViewModel
@model GetAllLeadModel
@{
    ViewBag.Title = "All Lead";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="wrapper wrapper-content">
    <h2> Lead List</h2>
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <select name="PropertyType" id="PropertyType" class="form-control">
                                <option value="PG">PG</option>
                                <option value="Flat">Flat</option>
                                <option value="Room">Room</option>
                                <option value="Flatmate">Flatmate</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <select name="LeadSource" id="LeadSource" class="form-control">
                                <option value="ONLINE">ONLINE</option>
                                <option value="OFFLINE">OFFLINE</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" name="PropertyId" id="PropertyId" class="form-control" placeholder="Property Id" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" name="LeadId" id="LeadId" class="form-control" placeholder="Lead Id" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="hidden" id="hdnLat" name="Lat" />
                            <input type="hidden" id="hdnLng" name="Lng" />
                            <input type="text" id="locality" class="form-control" placeholder="Locality" />
                        </div>
                    </div>
                    <div class="pg col-md-4">
                        <div class="form-group">
                            <select id="Gender" name="Gender" class="form-control">
                                <option value="">All</option>
                                <option value="Male">Male</option>
                                <option value="FeMale">Female</option>
                                <option value="CoLiving">Co-Living</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" onclick="search()"><i class="fa fa-search"></i> Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="ibox-content" id="tblData"></div>
        @Html.Partial("~/Views/Property/_GoogleMapGeoDecode.cshtml")
    </div>    
</div>
<script>
    function search() {
        var data = $('form').serialize();
        $.post('/lead/allleadlist', data, function (res) {
            $('#tblData').html(res);
        });        
    }
</script>