﻿@using FH.Admin.Entities;
@{
    var furnishMaster = (IEnumerable<FurnishingMaster>)ViewData["furnishMaster"];
}
<div class="furnished_item hide">
    @{
        if (furnishMaster != null)
        {
            <div class="panel">
                <div class="panel-heading" style="background-color:#F3F4F9;">
                    Furnishing Detail
                </div>
                <div class="panel-body">
                    <div class="row m-0">
                        @foreach (var item in furnishMaster)
                {
                    if (item.Type == "DROPDOWN")
                    {
                                <div class="col-md-3" style="padding-left:0px">
                                    <div class="form-group">
                                        <label>@item.Name</label>
                                        <select id="@item.FurnishingMasterId" class="ddFurnish form-control">
                                            <option value="">Select</option>
                                            @foreach (var ddItem in FurnishingDropdownValues.GetAll())
                                {
                            <option value="@ddItem.Key">@ddItem.Value</option>
                                }
                                        </select>
                                    </div>
                                </div>
                            }

                            if (item.Type == "CHECKBOX")
                            {
                                <div class="col-md-4" style="padding-left:0px">
                                    <div class="form-group">
                                        <label><input type="checkbox" id="@item.FurnishingMasterId" name="chkFurnish" value="1" /> @item.Name</label>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>

