﻿
<div class="col-md-12"><h4 class="text-primary">Provide rental details about your property</h4></div>
<div class="clearfix"></div><hr>

<div class="col-md-12">
    <div class="form-group">
        <div class="row m-0">
            @*<div class="col-md-4">
                <label>Expected Rent<span class="mondatoryStar">*</span></label>
                <input type="number" id="ownerRent" value="" class="form-control" placeholder="Expected Rent" maxlength="6" autocomplete="off">
                <label><input type="checkbox" name="rent_negotiable" value="" /> Negotiable</label>
            </div>
            <div class="col-md-4">
                <label>Expected Deposit<span class="mondatoryStar">*</span></label>
                <input type="number" id="ownerDeposit" value="" class="form-control" placeholder="Expected Deposit" maxlength="6" autocomplete="off">
            </div>*@            
            <div class="col-md-4">
            <label>Expected Rent(Sell Rent)<span class="mondatoryStar">*</span></label>
            <input type="number" id="rent" value="" class="form-control" placeholder="Monthly Rent" maxlength="6" autocomplete="off">
            <label><input type="checkbox" name="rent_negotiable" value="" /> Negotiable</label>
        </div>
        <div class="col-md-4">
            <label>Expected Deposit(Sell Deposit)<span class="mondatoryStar">*</span></label>
            <input type="number" id="deposit" value="" class="form-control" placeholder="Deposit Amount" maxlength="6" autocomplete="off">
        </div>
            <div class="col-md-4">
                <label>Available From</label>
                <input type="text" id="avaliable_from" value="" class="form-control" placeholder="dd-mm-yyyy" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Preferred Tenants<span class="mondatoryStar">*</span></label>
        <div>
            @foreach (var entry in PreferredTenant.GetAll())
            {
                <div class="dv-list-item preferred_tenant" data-key="@entry.Key">@entry.Value</div>
            }

        </div>
    </div>
    <div class="form-group">
        <label>Parking</label>
        <div>
            @foreach (var entry in ParkingType.GetAll())
            {
                <div class="dv-list-item parking" data-key="@entry.Key">@entry.Value</div>
            }
        </div>
    </div>
    <div class="form-group">
        <label>Furnishing<span class="mondatoryStar">*</span></label>
        <div>
            @foreach (var entry in FurnishingType.GetAll())
            {
                <div class="dv-list-item furnish" data-key="@entry.Key">@entry.Value</div>
            }
        </div>
    </div>
    @Html.Partial("_AddFurnishDetail", ViewData["furnishMaster"])
    <div class="form-group">
        <label>Description</label>
        <textarea id="description" class="form-control" rows="4" placeholder="Write a few lines about your property. Let the tenant know the amenities available, type of neighbourhood, proximity to bus and train stations etc."></textarea>
    </div>
</div>
<div class="clearfix"></div><hr>
<div class="text-center">
    <button class="btn btn-secondary" id="btn_back_rental">Back</button>
    <button id="btn_rental" class="btn btn-primary">Submit</button>
</div>

<script>
        $(function () {
            $('#avaliable_from').datepicker({
                dateFormat: "dd-mm-yy",
            });
        });

    //$('#ownerRent').keyup(function () {       
    //    var ownerRent = $('#ownerRent').val();
    //    var rentHike = (ownerRent * 20) / 100;
    //    var rent = parseInt(ownerRent) + parseInt(rentHike > 4000 ? 4000 : rentHike);
    //    $('#rent').val(rent);
    //});

    //$('#ownerDeposit').keyup(function () {
    //    var ownerDeposit = $('#ownerDeposit').val();
    //    $('#deposit').val(ownerDeposit);
    //});
</script>