﻿@using FH.Admin.Entities;
@model PropertyMaster
<div class="col-md-12"><h4 class="text-primary">Provide additional details about your property to get maximum visibilty.</h4></div>
<div class="clearfix"></div><hr>
<h4>Select the amenities available</h4>
@if (Model.AmenityMaster != null)
{
    if (Model.PropertyType.ToUpper() == "PG")
    {
        foreach (var item in Model.AmenityMaster.Where(x => x.AmenityType == "PG"))
        {
            int selected = 0;
            if (Model.PropertyAmenityDetails != null)
            {
                foreach (var propAmenity in Model.PropertyAmenityDetails.Where(x => x.AmenityId == item.AmenityId))
                {
                    selected = propAmenity.AmenityId;
                }
            }
            <div class="col-md-4">
                <div class="form-group">
                    <label><input type="checkbox" data-key="@item.AmenityId" name="chkAmenity" @(selected > 0 ? "checked" : "")> @item.AmenityName</label>
                </div>
            </div>
        }
    }
    else
    {
        foreach (var item in Model.AmenityMaster.Where(x => x.AmenityType == null))
        {
            int selected = 0;
            if (Model.PropertyAmenityDetails != null)
            {
                foreach (var propAmenity in Model.PropertyAmenityDetails.Where(x => x.AmenityId == item.AmenityId))
                {
                    selected = propAmenity.AmenityId;
                }
            }
            <div class="col-md-4">
                <div class="form-group">
                    <label><input type="checkbox" data-key="@item.AmenityId" name="chkAmenity" @(selected > 0 ? "checked" : "")> @item.AmenityName</label>
                </div>
            </div>
        }
    }
}
<div class="clearfix"></div><hr>
<div class="text-center">
    <button class="btn btn-default" onclick='previousTab("Amenities")'>Back</button>
    <button id="btnSaveAmenities"class="btn btn-primary">Save & Continue</button>    

</div>

