﻿@using FH.Admin.Entities;
@model PropertyDetailFlatRoom
   
<div class="col-md-12"><h4 class="text-primary">Update rental details of your property</h4></div>
<div class="clearfix"></div><hr>

<div class="col-md-12">
    <div class="form-group">
        <div class="col-md-12" style="padding-left:0px">
            @*<div class="col-md-4" style="padding-left:0px">
                <label>Owner Expected Rent<span class="mondatoryStar">*</span></label>
                <input type="text" id="ownerRent" value="@Model.OwnerExpectedRent" class="form-control" placeholder="Owner Expected Rent" maxlength="6">                
            </div>
            <div class="col-md-4" style="padding-left:0px">
                <label>Owner Expected Deposit<span class="mondatoryStar">*</span></label>
                <input type="text" id="ownerDeposit" value="@Model.OwnerExpectedDeposit" class="form-control" placeholder="Owner Expected Deposit" maxlength="6">                
            </div>*@
            <div class="col-md-4" style="padding-left:0px">
                <label>Expected Rent(Sell Rent)<span class="mondatoryStar">*</span></label>
                <input type="text" id="rent" value="@Model.ExpectedRent" class="form-control" placeholder="Monthly Rent" maxlength="6">
                <label><input type="checkbox" name="rent_negotiable" @(Model.IsRentNegotiable == true ? "selected" : "") /> Negotiable</label>
            </div>
            <div class="col-md-4" style="padding-left:0px">
                <label>Expected Deposit(Sell Deposit)<span class="mondatoryStar">*</span></label>
                <input type="text" id="deposit" value="@Model.ExpectedDeposit" class="form-control" placeholder="Deposit Amount" maxlength="6">
            </div>
            <div class="col-md-4">
                <label>Available From</label>
                <input type="text" id="avaliable_from" value="@(string.IsNullOrEmpty(Model.AvailableFrom)?"":Convert.ToDateTime(Model.AvailableFrom).ToString("dd-MM-yyyy"))" class="form-control" placeholder="dd-mm-yyyy">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Preferred Tenants<span class="mondatoryStar">*</span></label>
        <div>
            @foreach (var entry in PreferredTenant.GetAll())
            {
                <div class="dv-list-item preferred_tenant @(Model.PreferredTenant==entry.Value?"active":"")" data-key="@entry.Key">@entry.Value</div>
            }

        </div>
    </div>
    <div class="form-group">
        <label>Parking<span class="mondatoryStar">*</span></label>
        <div>
            @foreach (var entry in ParkingType.GetAll())
            {
                <div class="dv-list-item parking @(Model.Parking==entry.Value?"active":"")" data-key="@entry.Key">@entry.Value</div>
            }
        </div>
    </div>
    <div class="form-group">
        <label>Furnishing<span class="mondatoryStar">*</span></label>
        <div>
            @foreach (var entry in FurnishingType.GetAll())
            {
                <div class="dv-list-item furnish @(Model.Furnishing==entry.Value?"active":"")" data-key="@entry.Key">@entry.Value</div>
            }
        </div>
    </div>
    @if (Model.FurnishingDetails != null)
    {@Html.Partial("_EditFurnishDetail", Model.FurnishingDetails, new ViewDataDictionary { { "furnishingMaster", ViewData["furnishMaster"] }, {"furnishing",Model.Furnishing} })}
    else
    {@Html.Partial("_EditFurnishDetail",new List<PropertyFurnishingDetails>(), new ViewDataDictionary { { "furnishingMaster", ViewData["furnishMaster"] }, { "furnishing", Model.Furnishing } })}
    <div class="form-group">
        <label>Description</label>
        <textarea id="description" class="form-control" rows="4" placeholder="Write a few lines about your property. Let the tenant know the amenities available, type of neighbourhood, proximity to bus and train stations etc.">@(!string.IsNullOrEmpty(Model.Description)?Model.Description:"")</textarea>
    </div>
</div>
<div class="clearfix"></div><hr>
<div class="text-center">    
    <button id="btn_edit_rental" class="btn btn-primary">Update</button>    
</div>
<script>
    $(function () {
        $('#avaliable_from').datepicker({
            dateFormat: "dd-mm-yy",
        });
    });

    //$('#ownerRent').keyup(function () {
    //    var ownerRent = $('#ownerRent').val();
    //    var rentHike = (ownerRent * 20) / 100;
    //    var rent = parseInt(ownerRent) + parseInt(rentHike > 4000 ? 4000 : rentHike);
    //    $('#rent').val(rent);
    //});

    //$('#ownerDeposit').keyup(function () {
    //    var ownerDeposit = $('#ownerDeposit').val();
    //    $('#deposit').val(ownerDeposit);
    //});
</script>
