﻿@using FH.Admin.Entities;
@model IEnumerable<PropertyFurnishingDetails>
@{
    var furnishMaster = (IEnumerable<FurnishingMaster>)ViewData["furnishingMaster"];
    string furnishing = "";
    if (ViewData["furnishing"] != null)
    { furnishing = ViewData["furnishing"].ToString(); }
}
<div class="furnished_item @(furnishing =="Unfurnished"?"hide":"")">
    @{
        if (furnishMaster != null)
        {
            <div class="panel">
                <div class="panel-heading" style="background-color:#F3F4F9;">
                    Furnishing Detail
                </div>
                <div class="panel-body">
                    @foreach (var item in furnishMaster)
                    {
                        var selectedValue="";
                        if(Model.Any(x => x.FurnishingMasterId == item.FurnishingMasterId))
                        {
                            selectedValue=Model.Where(x => x.FurnishingMasterId == item.FurnishingMasterId).FirstOrDefault().Value;
                        }
                        if (item.Type == "DROPDOWN")
                        {
                            <div class="col-md-3" style="padding-left:0px">
                                <div class="form-group">
                                    <label>@item.Name</label>
                                    <select id="@item.FurnishingMasterId" class="ddFurnish form-control">
                                        <option value="">Select</option>
                                        @foreach (var ddItem in FurnishingDropdownValues.GetAll())
                                        {
                                            <option value="@ddItem.Key" @(selectedValue==ddItem.Value?"selected":"")>@ddItem.Value</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        }

                        if (item.Type == "CHECKBOX")
                        {
                            <div class="col-md-4" style="padding-left:0px">
                                <div class="form-group">
                                    <label><input type="checkbox" id="@item.FurnishingMasterId" name="chkFurnish" value="1" @(selectedValue=="1"?"checked":"") />@item.Name</label>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        }
    }
</div>

