﻿@using FH.Admin.Entities;
@model PropertyMaster

<div class="row">
    <div class="col-md-12"><h4 class="text-primary">Update Locality details</h4></div>
    <div class="clearfix"></div><hr>
                                <div class="col-md-12">
                                    <input type="hidden" id="hdnLat" value="@Model.Latitude" />
                                    <input type="hidden" id="hdnLng" value="@Model.Longitude" />
                                    <input type="hidden" id="hdnCity" value="@Model.City" />
                                    @*<div class="form-group">
                                        <label>Property Name<span class="mondatoryStar">*</span></label>
                                        <input type="text" id="PropertyName" class="form-control" value="@Model.PropertyName" maxlength="50" />
                                    </div>*@
                                    <div class="form-group">
                                        <label>Contact Person Name <span class="mondatoryStar">*</span></label>
                                        <input type="text" id="contactPersonName" class="form-control" value="@Model.ContactPersonName" maxlength="50" />
                                    </div>
                                    <div class="form-group">
                                        <label>Contact Person Mobile No <span class="mondatoryStar">*</span></label>
                                        <input type="text" id="contactPersonMobile" class="form-control" value="@Model.ContactPersonMobile" maxlength="10" />
                                    </div>
                                    <div class="form-group ui-widget">
                                        <label>Locality<span class="mondatoryStar">*</span></label>
                                        <input type="text" id="locality" value="@Model.Locality" class="form-control" placeholder="Type your locality" maxlength="100" />
                                    </div>
                                    <div class="form-group">
                                        <label>Area/Street<span class="mondatoryStar">*</span></label>
                                        <input type="text" id="street" value="@Model.Street" class="form-control" style="width:100%" placeholder="Type your Area/Street" maxlength="100">
                                    </div>
                                    <div class="form-group">
                                        <label>Location Map Link </label>
                                        <input type="text" id="locationMapLink" class="form-control" placeholder="Location Map Link" maxlength="200" value="@Model.LocationMapLink" />
                                    </div>
                                    <div class="clearfix"></div><br>
                                    <div class="form-group">
                                        @Html.Partial("_GoogleMapGeoDecode")
                                    </div>
                                    <div class="clearfix"></div><hr>
                                    <div class="text-center">
                                        <button id="btn_edit_locality" class="btn btn-primary">Update</button>
                                    </div>
                                </div>
</div>
