﻿@using FH.Admin.Entities
@model PGDetail
@{
    IEnumerable<PGRule> pgRules = (IEnumerable<PGRule>)ViewData["pgRules"];
}
<div class="col-md-12"><h4 class="text-primary">Update PG/Hostel details</h4></div>
<div class="clearfix"></div>
<hr>
<div class="col-md-12">
    <div class="form-group">
        <label>Available for</label><br>
                                    <div>
                                        @{
                                            string tenantGender = (!string.IsNullOrEmpty(Model.TenantGender) ? Model.TenantGender.ToLower() : "");
                                        }
                                        <div class="dv-list-item tenant-gender @(tenantGender=="male"?"active":"")" data-key="Male">Male</div>
                                        <div class="dv-list-item tenant-gender @(tenantGender=="female"?"active":"")" data-key="Female">Female</div>
                                        <div class="dv-list-item tenant-gender @(tenantGender=="co-living"?"active":"")" data-key="Co-Living">Co-Living</div>
                                        <div class="dv-list-item tenant-gender @(tenantGender=="roomrk"?"active":"")" data-key="RoomRk">Room/Rk</div>

                                    </div>
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <label>Preferred Guests</label>
        <div>
            @foreach (var item in PreferredGuest.GetAll())
            {
                <div class="dv-list-item preferred_tenant @(item.Value==Model.PreferredGuest?"active":"")" data-key="@item.Key">@item.Value</div>
            }
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <label>Available From<span class="mondatoryStar">*</span></label>
        <input type="text" id="avaliable_from" class="form-control" placeholder="dd-mm-yy" value="@(!string.IsNullOrWhiteSpace(Model.AvailableFrom)?Convert.ToDateTime(Model.AvailableFrom).ToString("dd-MM-yyyy"):"")">
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
        <label>Fooding</label><br>
        <div>
            <div class="dv-list-item fooding @(Model.Fooding==true?"active":"")" data-key="true">Yes</div>
            <div class="dv-list-item fooding @(Model.Fooding==false?"active":"")" data-key="false">No</div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
        <label>Laundry</label><br>
        <div>
            <div class="dv-list-item laundry @(Model.Laundry==true?"active":"")" data-key="true">Yes</div>
            <div class="dv-list-item laundry @(Model.Laundry==false?"active":"")" data-key="false">No</div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
        <label>Room Cleaning</label><br>
        <div class="row">
            <div class="dv-list-item room-cleaning @(Model.RoomCleaning==true?"active":"")" data-key="true">Yes</div>
            <div class="dv-list-item room-cleaning @(Model.RoomCleaning==false?"active":"")" data-key="false">No</div>
        </div>
    </div>
</div>
<div class="col-md-12"><h4>PG/Hostel Rules</h4></div>
@foreach (var item in PGRulesMaster.GetAll())
{
    bool selected = false;
    if (pgRules != null)
    {
        selected = pgRules.Any(x => x.RuleId == item.Key);
    }
    <div class="col-md-4">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-key="@item.Key" name="chkPgRule" @(selected == true ? "checked" : "")>
                    @item.Value
                </label>
            </div>
        </div>
    </div>
}
<div class="clearfix"></div>
<hr>
<div class="text-center">
    <button id="btn_pg_detail_edit" class="btn btn-primary">Update</button>
</div>
<script>
    $(function () {
        $('#avaliable_from').datepicker({
            dateFormat: "dd-mm-yy",
        });
    });
</script>