﻿@using FH.Admin.Entities;
@model PropertyFurnishingDetails

@{
    var hideShowFurnishingType = "display:block";
    if (Model.Furnishing !=null && Model.Furnishing.ToUpper() == "UF")
    { hideShowFurnishingType = "display:none"; }
}
<div class="furnishedItems" style="@hideShowFurnishingType">
    @{
        if (Model.FurnishingMaster != null)
        {
            foreach (var item in Model.FurnishingMaster)
            {
                string selectedValue = "";
                if (Model.PropertyFurnishingDetail != null)
                {
                    foreach (var furnishDetails in Model.PropertyFurnishingDetail)
                    {
                        if (item.FurnishingMasterId == furnishDetails.FurnishingMasterId)
                        { selectedValue = furnishDetails.Value; }
                    }
                }
                if (item.Type == "DROPDOWN")
                {
            <div class="col-md-3">
                <div class="form-group">
                    <label>@item.Name</label>
                    <select id="ddFurnish-@item.FurnishingMasterId" class="ddFurnish form-control"> 
                        
                       @foreach (var ddItem in FurnishingDropdownValues.GetAll())
                       {
                           if (ddItem.Key == selectedValue)
                           {<option value="@ddItem.Key" selected>@ddItem.Value</option>}
                           else
                           {<option value="@ddItem.Key">@ddItem.Value</option>}                          
                       }

                    </select>
                </div>
            </div>
                }

                if (item.Type == "CHECKBOX")
                {                   
            <div class="col-md-3">
                <div class="form-group">
                    <label><input type="checkbox" id="chkFurnish-@item.FurnishingMasterId" name="chkFurnish" value="1"  @(selectedValue=="1"?"checked":"") />@item.Name</label>
                </div>
            </div>
                    }
                }
            }
        }
</div>
