﻿@using FH.Admin.Entities;
@model IEnumerable<PropertyGalleryDetails>
@{ 
    var galleryUrl = System.Configuration.ConfigurationManager.AppSettings["GalleryFolderPath"];
}
<div class="col-md-12"><h4 class="text-primary">Upload photo gallery</h4></div>
<div class="clearfix"></div><hr>
<div class="col-md-12">
    <div class="container">      
        <form id="frmFileUpload" action="#" method="POST" enctype="multipart/form-data" class="">           
            <div class="row">
                <div class="col-lg-7">                    
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add files...</span>
                        <input id="fileUpload" type="file">
                    </span>                                         
                </div>                
            </div>            
            <div class="gallery">                
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <div><img src="@galleryUrl@item.FilePath"/></div>
                    }
                }
            </div>
        </form>
        <br>
    </div>
</div>
<div class="clearfix"></div><hr>
<div class="text-center">
    <button class="btn btn-default" onclick='previousTab("Gallery")'>Back</button>
    <button id="btnSaveGallery" class="btn btn-primary">Save & Continue</button>
    <button class="btn btn-default" onclick='nextTab("Gallery")'>Next</button>
</div>

<script>

    $('#Gallery').on("click", "#btnSaveGallery", function (e) {       
        $('.postPropertyStepBtn a[href="#Amenities"]').tab('show');
    });

    $('#fileUpload').on('change', uploadFiles);

    function uploadFiles(event)
    {     
        if (window.FormData !== undefined) {
            var fileUpload = $("#fileUpload").get(0);
            var files = fileUpload.files;

            var formData = new FormData(document.getElementById("frmFileUpload"));
            formData.append("PropertyId", $('#hdnPropertyId').val())
            for (var i = 0; i < files.length; i++) {
                formData.append(files[i].name, files[i]);
            }
           
            waitingDialog.show('Uploading ...');

            $.ajax({
                url: "@Url.Action("UpdateGallery", "Property")",
                type: "POST",
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (data, status) {
                    if (data.Success == true) {
                        $('.gallery').append('<div><img src="' +data.Path + '"/></div>');
                    }
                    else
                        alert(data.Error);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Something went wrong.Please try again.");
                },
                complete: function () {
                    waitingDialog.hide();
                }
            });
        }
        else
        {
            alert("This browser is not supported,Please try another.");
        }
    }
</script>