﻿@using FH.Admin.Entities;
@model PropertyMaster

<div class="col-md-12"><h4 class="text-primary">Provide location details</h4></div>
<div class="clearfix"></div><hr>
<div class="col-md-6">
    <div class="form-group">
        <label>City<span class="mondatoryStar">*</span></label>
        <select class="form-control" id="ddCity">
          @foreach (var item in City.GetAll())
          {
              if (item.Key == Model.City) {
                  <option value="@item.Key" selected>@item.Value</option>
              }
              else { <option value="@item.Key">@item.Value</option> }
          }
        </select>              
        <input type="hidden" id="hdnLat" value="@Model.Latitude" /> 
        <input type="hidden" id="hdnLng" value="@Model.Longitude" />    
    </div>
</div>
<div class="col-md-6">
    <div class="form-group ui-widget">
        <label>Locality<span class="mondatoryStar">*</span></label>       
            <input type="text" id="txtLocality" value="@Model.Locality" class="form-control" placeholder="Type your locality" />                    
        <span id="lblLocality" class="error"></span>        
       </div>
    </div>
<div class="col-md-6">
    <div class="form-group">
        <label>Area/Street<span class="mondatoryStar">*</span></label>
        <input type="text" id="txtStreet" value="@Model.Street" class="form-control" style="width:100%" placeholder="Type your Area/Street">
        <span id="lblStreet" class="error"></span>
    </div>
    
</div>

<div class="clearfix"></div><br>
<div class="col-md-12">
   @Html.Partial("_GoogleMapGeoDecode");
</div>
<div class="clearfix"></div><hr>
<div class="text-center">      
    <button class="btn btn-default" onclick='previousTab("locality");'>Back</button>
    <button id="btnSaveLocality"class="btn btn-primary">Save & Continue</button>
    <button class="btn btn-default" onclick='nextTab("locality");'>Next</button>
</div>