﻿@using FH.Admin.Entities;
@model PGPropertyDetails

    <div class="col-md-12"><h4 class="text-primary">Provide details about your place</h4></div>
    <div class="clearfix"></div><hr>
    <div class="col-md-12">
        <div class="form-group">
            <label>Place is available for</label><br>
            <div class="row">
                <div class="col-md-3"><label><input type="radio" name="rdTenantGender" value="Male" @(Model.TenantGender=="Male"?"checked":"") /> Male</label></div>
                <div class="col-md-3"><label><input type="radio" name="rdTenantGender" value="Female" @(Model.TenantGender=="Female"?"checked":"")/> Female</label></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Preferred Guests</label>
            <select id="ddPreferredGuest" class="form-control">
                @foreach(var item in PreferredGuest.GetAll())
                {
                    if (item.Value == Model.PreferredGuest)
                    {<option value="@item.Key" selected>@item.Value</option>}
                    else
                    {<option value="@item.Key">@item.Value</option>}
                }
            </select>
            <span id="lblPreferredGuest" class="error"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Available From<span class="mondatoryStar">*</span></label>
            <input type="text" id="dpAvaliableFrom" class="form-control" placeholder="dd-mm-yy" value="@Model.AvailableFrom">
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label>Food Included</label><br>
            <div class="row">
                <div class="col-md-3"><label><input type="radio" name="rdFooding" value="true" @(Model.Fooding==true?"checked":"")/> Yes</label></div>
                <div class="col-md-3"><label><input type="radio" name="rdFooding" value="false" @(Model.Fooding==false?"checked":"") /> No</label></div>
            </div>
        </div>
    </div>
<div class="clearfix"></div><hr>
<div class="col-md-12"><h4>Available Services</h4></div>
<div class="col-md-4">
    <div class="form-group">
        <label>Laundry</label><br>
        <div class="row">
            <div class="col-md-3"><label><input type="radio" name="rdLaundry" value="true" @(Model.Laundry==true?"checked":"")> Yes</label></div>
            <div class="col-md-3"><label><input type="radio" name="rdLaundry" value="false" @(Model.Fooding==false?"checked":"")> No</label></div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
        <label>Room Cleaning</label><br>
        <div class="row">
            <div class="col-md-3"><label><input type="radio" name="rdCleaning" value="true" @(Model.RoomCleaning==true?"checked":"")> Yes</label></div>
            <div class="col-md-3"><label><input type="radio" name="rdCleaning" value="false" @(Model.RoomCleaning==false?"checked":"")> No</label></div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
        <label>Warden Facility</label><br>
        <div class="row">
            <div class="col-md-3"><label><input type="radio" name="rdWarden" value="true" @(Model.Warden==true?"checked":"")> Yes</label></div>
            <div class="col-md-3"><label><input type="radio" name="rdWarden" value="false" @(Model.Warden==false?"checked":"")> No</label></div>
        </div>
    </div>
</div>
    <div class="clearfix"></div><hr>
    <div class="col-md-12"><h4>PG/Hostel Rules</h4></div>
      @foreach (var item in PGRulesMaster.GetAll())
      {
          var selectedRule = 0;
          if(Model.PGRules!=null)
          {
              foreach(var rule in Model.PGRules.Where(x=>x.RuleId==item.Key))
              { selectedRule = rule.RuleId; }
          }
        <div class="col-md-4">       
        <div class="form-group">
            <label><input type="checkbox" name="chkRules" data-key="@item.Key" value="@item.Value" @(selectedRule > 0 ? "checked" : "")> @item.Value</label>           
        </div>
        </div>   
        }
    <div class="clearfix"></div><br>
    <div class="col-md-12">
        <div class="form-group">
            <label>Description</label>
            <textarea id="txtDescription" class="form-control" rows="4" placeholder="Write few lines about your property like amenities, near by facilities, friendly neighbourhood &amp; proximity to railways &amp; bus stops"></textarea>
            <span id="lblDescription" class="error"></span>
        </div>
    </div>
    <div class="clearfix"></div><hr>
    <div class="text-center">
        <button class="btn btn-default" onclick='previousTab("PGDetails")'>Back</button>
        <button id="btnSavePGDetail" class="btn btn-primary">Save & Continue</button>
        <button class="btn btn-default" onclick='nextTab("PGDetails")'>Next</button>
    </div>
