﻿@using FH.Admin.Entities
@model PropertyMaster
    <div class="col-md-12"><h4 class="text-primary">Provide details about your place to find a tenant soon</h4></div>
    <div class="clearfix"></div><hr>
    <h4>Select the type of rooms available in your PG</h4>
     @{ 
         string selectedRoomType ="";
         int expectedRent = 0;
         int expectedDeposit = 0;

         if(Model.PGPropertyDetail !=null)
         {
             selectedRoomType = Model.PGPropertyDetail.RoomType;
             expectedRent =Model.PGPropertyDetail.ExpectedRent;
             expectedDeposit = Model.PGPropertyDetail.ExpectedDeposit;

         }
     }
    <ul class="nav nav-tabs">              
        <li @(selectedRoomType=="Single"?"class=active":"")><a data-toggle="tab" href="#single">Single</a></li>
        <li @(selectedRoomType=="Double"?"class=active":"")><a data-toggle="tab" href="#double">Double</a></li>
        <li @(selectedRoomType=="Three"?"class=active":"")><a data-toggle="tab" href="#three">Three</a></li>
        <li @(selectedRoomType=="Four"?"class=active":"")><a data-toggle="tab" href="#four">Four</a></li>
    </ul>

    <div id="dvPGRoom" class="tab-content">
        <div id="single" class="tab-pane fade in active">
            <br>
            <div class="col-md-12"><h4>Single Bed Room Details</h4></div>          
            </div>              
        <div id="double" class="tab-pane fade">
            <br><div class="col-md-12"><h4>Double Bed Room Details</h4></div>                        
        </div>
        <div id="three" class="tab-pane fade">
            <br><div class="col-md-12"><h4>Three Bed Room Details</h4></div>           
        </div>
        <div id="four" class="tab-pane fade">
            <br><div class="col-md-12"><h4>Four Bed Room Details</h4></div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Expected Rent Per Person<span class="mondatoryStar">*</span></label>
                    <input type="text" id="txtExpectedRent" value="@expectedRent" class="form-control" placeholder="Enter Amount">
                    <span id="lblExpectedRent" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Expected Deposit Per Person<span class="mondatoryStar">*</span></label>
                    <input type="text" id="txtExpectedDeposit" value="@expectedDeposit" class="form-control" placeholder="Enter Amount">
                    <span  id="lblExpectedDeposit" class="error"></span>
                </div>
            </div>
            <div class="clearfix"></div><hr>
            <div class="col-md-12"><h4>Room Amenities</h4></div>     
          @if (Model.AmenityMaster != null)
          {
              foreach(var item in Model.AmenityMaster.Where(x=>x.AmenityType=="PGRoom"))
              {
                  var selectedAmenity = 0;
                  if (Model.PropertyAmenityDetails != null)
                  {
                      foreach(var propertyAmenity in Model.PropertyAmenityDetails.Where(x=>x.AmenityId==item.AmenityId))
                      {
                          selectedAmenity = item.AmenityId;
                      }
                  }

                <div class="col-md-4">
                    <div class="form-group">
                        <label><input type="checkbox" name="chkRoomAmenity" data-key="@item.AmenityId" @(selectedAmenity > 0 ? "checked" : "")> @item.AmenityName</label>
                        <span id="lblRoomAmenity" class="error"></span>
                    </div>
                </div>
              }
          }
        </div>   

    <div class="clearfix"></div><hr>
    <div class="text-center">                
        <button id="btnSavePGRoom" class="btn btn-primary">Save & Continue</button>
        <button class="btn btn-default" onclick='nextTab("PGRoomPropertyDetails");'>Next</button>
        
    </div>