﻿@model PropertyAssignVM

<script>
    var lstArea =@Html.Raw(Json.Encode(Model.ZoneArea.AreaMaster));
    
      $("#ddAMZone").change(function () {
          $("#ddAMArea").html('');
          $("#ddAMArea").append($("<option></option>").val("0").html("--Area--"));          
        if (lstArea != null) {
            var areaByZone = lstArea.filter(x=>x.ZoneId == $(this).val())
              $.each(areaByZone, function (key, value) {
                  $("#ddAMArea").append($("<option></option>").val(value.AreaId).html(value.AreaName));
              });            
          }
      });

</script>

<div class="modal-dialog">
    <div class="modal-content" id="propertyModalPopup">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" id="txtAMCity" value="@Model.CityName" class="form-control" readonly />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select id="ddAMZone" class="form-control">
                            <option value="0">--Zone--</option>
                            @if (Model != null && Model.ZoneArea !=null && Model.ZoneArea.ZoneMaster !=null)
                            {
                                foreach (var item in Model.ZoneArea.ZoneMaster)
                                {
                                    <option value="@item.ZoneId">@item.ZoneName</option>
                                }
                            }
                            
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select id="ddAMArea" class="form-control">
                            <option value="0">--Area--</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <table id="tblAreaManager" class="table table-bordered" style="display:none">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                Area Manager Name
                            </th>
                            <th>
                                Email Id
                            </th>
                            <th>
                                Mobile No
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-md-6">
                <div class="form-group">
                    <button type="button" id="btnAssignSave" class="btn btn-primary">Assign</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>