﻿@using FH.Admin.Entities;
@model IEnumerable<PropertyFeedBack>
@{
    ViewBag.Title = "PG FeedBack";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<input type="hidden" id="PGId" value="@ViewBag.PGId"/>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">              
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    @if (ViewBag.PGId != null && (int)ViewBag.PGId > 0)
                    {<button type="button" class="btn btn-primary" id="btnAddMore"><i class="fa fa-plus"></i> Add More</button>}
                    <div class="table-responsive">
                        <table class="table table-bordered" style="font-size:12px">
                            <thead>
                                <tr> 
                                    <th></th>
                                    <th>PG</th>
                                    <th>Food Quality</th>
                                    <th>Security</th>
                                    <th>Wifi</th>
                                    <th>Staff</th>
                                    <th>Maintenance</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Posted On</th>                                    
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count()>0)
                                {
                                    int sr=1;
                                    foreach (var item in Model)
                                    {                                        
                                        <tr>
                                            <td>@sr</td>
                                            <td><a href="@Url.Action("Edit", "Property", new { pid = item.PropertyId })">@item.PropertyId</a></td>
                                            <td>@item.FoodQuality</td>
                                            <td>@item.Security</td>
                                            <td>@item.Wifi</td>
                                            <td>@item.Staff</td>
                                            <td>@item.Maintenance</td>
                                            <td>
                                           <span title="@item.Description">@(!string.IsNullOrEmpty(item.Description) && item.Description.Length > 50 ? item.Description.Substring(50) + "..." : item.Description)</span>                                            
                                            </td>                                            
                                            <td>
                                               @if (item.IsActive)
                                               { <button class="btn btn-success btn-xs pointer-events-none">
                                                    Active
                                                </button>
                                               }
                                               else
                                               {<button class="btn btn-default btn-xs pointer-events-none">
                                                    Disable
                                                </button>}
                                            </td>
                                            <td>@item.CreatedOn.ToString("dd MMM yyyy")</td>                                            
                                            <td>                                                
                                               @if (!item.IsActive)
                                               {<button type="button" class="btn-primary" data-status="@item.IsActive" data-id="@item.PropertyFeedBackId"  onclick="updatePGFeedbackStatus(this)">Update Status</button>}
                                            </td>
                                        </tr>                                          
                                        sr=sr + 1;
                                    }
                                }
                            </tbody>
                        </table>                       
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<div class="modal fade" id="addNewFeedbackModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="addNewFeedbackModalContent">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New PG Feedback</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Food Quality</label>
                            <select class="form-control" id="FoodQuality">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Security</label>
                            <select class="form-control" id="Security">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Wifi</label>
                            <select class="form-control" id="Wifi">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Staff</label>
                            <select class="form-control" id="Staff">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Maintenance</label>
                            <select class="form-control" id="Maintenance">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>                        
                        <div class="form-group">
                            <label>Description</label>
                            <textarea id="Description" class=" form-control" maxlength="500"></textarea>
                        </div>
                        <div class="form-group">
                            <label>FeedBack By (this name will be PG tenant who fill the manual form.)</label>
                            <input id="FeedBackByName" class="form-control" maxlength="50" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <button type="button" id="btnAddNewFeedback" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#btnAddMore').click(function () {
        $('#addNewFeedbackModal').modal('show');
    });

    $('#btnAddNewFeedback').click(function () {
        if(parseInt($('#PGId').val())>0)
        {
            $('#btnAddNewFeedback').html('Please Wait... <span class="spinner-border spinner-border-sm"></span>').attr("disabled", true);            
            $.ajax({
                url: "/property/AddPGFeedback",
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    PropertyId: $('#PGId').val(),
                    FoodQuality: $('#FoodQuality Option:selected').val(),
                    Security: $('#Security Option:selected').val(),
                    Wifi: $('#Wifi Option:selected').val(),
                    Staff: $('#Staff Option:selected').val(),
                    Maintenance: $('#Maintenance Option:selected').val(),
                    Description: $('#Description').val(),
                    FeedBackByName:$('#FeedBackByName').val()
                }),
                success: function (data, status) {
                    if (data.Success == true)
                        reload("Feedback Data Posted Successfully.");
                    else if (data.Success == false) {
                        showError(data.ErrorMessage);
                    }
                },
                complete: function () {
                    $('#btnAddNewFeedback').html('Submit').removeAttr("disabled");
                }
            });
        }
        else
            return showError("Invalid input.");
    });
</script>
<script src="~/Content/js/property-pg.js?v=1" type="text/javascript"></script>