﻿@using FH.Admin.Entities;
@model Property
@{
    ViewBag.Title = "Add New PG";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<input type="hidden" id="hdnOwnerId" value="" />
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">  
                <div class="tab-content ibox-content">
                    <div id="ownerDetail">                               
                        <div class="row m-0">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Owner ID</label>
                                    <input type="text" id="ownerId" class="form-control" placeholder="Owner ID" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Owner Mobile</label>
                                    <input type="text" id="ownerMobile" class="form-control" placeholder="Mobile" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <button type="button" id="btnSearchPGOwner" class="btn btn-primary" style="margin-top:23px">Search Owner</button>
                                </div>
                            </div>
                        </div>       
                        <div class="row m-0" id="dvShowOwnerDetail" style="display:none">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Owner ID</label>
                                    <span id="spnOwnerId"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Owner Name</label>
                                    <span id="spnName"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Mobile</label>
                                    <span id="spnMobile"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <span id="spnEmail"></span>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="button" class="btn btn-primary" id="btnOwnerDetail" disabled>Next</button>
                            </div>
                        </div>
                    </div>
                    <div id="pg_room_info" style="display:none">
                        @Html.Partial("_AddPGRoomDetail", new ViewDataDictionary { { "roomAmenity", ViewBag.roomAmenity } })
                    </div>
                    <div id="locality_info" style="display:none">
                        @Html.Partial("_AddLocalityDetail", new ViewDataDictionary { {"cityMaster",ViewBag.cityMaster}})
                    </div>
                    <div id="pg_info" style="display:none">
                        @Html.Partial("_AddPGDetail")
                    </div>
                    <div id="gallery_info" style="display:none">
                        @Html.Partial("_AddGallery")
                    </div>
                    <div id="amenity_info" style="display:none">
                        @Html.Partial("_AddAmenity", new ViewDataDictionary { { "amenityMaster", ViewBag.pgAmenity } })
                    </div>
                </div>
                </div>
            </div>
  </div>  
</div>
 <script>
     $('#btnSearchPGOwner').click(function () {
         $('#btnOwnerDetail').attr('disabled');
         if($('#ownerId').val() != '' || $('#ownerMobile').val() != '') {
             $.ajax({
                 url: "/user/GetUserByIdAndMobile",
                 type: "POST",
                 dataType: "json",
                 contentType: "application/json; charset=utf-8",
                 data: JSON.stringify({ userId: $('#ownerId').val(), mobile: $('#ownerMobile').val() }),
                 success: function (data, status) {
                     if (data.Success == true) {                         
                         $('#hdnOwnerId').val(data.User.UserId);
                         $('#spnOwnerId').text(data.User.UserId);
                         $('#spnName').text(data.User.Name);
                         $('#contactPersonName').val(data.User.Name);
                         $('#spnMobile').text(data.User.Mobile);
                         $('#contactPersonMobile').val(data.User.Mobile);
                         $('#spnEmail').text(data.User.Email);
                         $('#btnOwnerDetail').removeAttr('disabled');
                         $('#dvShowOwnerDetail').show();
                     }
                     else if (data.Success == false) {
                         $('#dvShowOwnerDetail').hide();
                         showError(data.ErrorMessage);
                     }
                 }
             });
         }
     });
     $('#btnOwnerDetail').click(function () {
         $('#ownerDetail').hide();
         $('#pg_room_info').show();
     });
 </script> 
<link href="@Url.Content("~/Content/css/select2.min.css")" rel="stylesheet" type="text/css">
<script type="text/javascript" src="@Url.Content("~/Content/js/select2.min.js")"></script>
<script src="~/Content/js/property-pg.js?v=18" type="text/javascript"></script>
