﻿@using FH.Admin.Entities

<div class="modal fade" id="addNewUseCode" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New Use Codes</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                           <label>Use Code</label>
                            <input type="text" id="useCode" class="form-control" placeholder="Use Code"/>
                        </div>
                        <div class="form-group">
                            <label>Use Code Type</label>
                            <select id="useCodeType" class="form-control">
                               @{ 
                                   var lstCodeType = Enum.GetValues(typeof(UseCodeType)).Cast<UseCodeType>().Select(x => x.ToString()).ToList();
                               }
                                @if(lstCodeType!=null)
                                {
                                    foreach(var item in lstCodeType)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Use Code Type %</label>
                            <input type="number" id="useCodeTypePercentage" class="form-control"/>
                        </div>
                        <div class="col-md-12">
                            <button type="button" onclick="addUseCode()" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
