﻿@using FH.Admin.Entities
@model UseCodeMaster
<div class="modal fade" id="useCodeModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Use Codes</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">                        
                        <div class="form-group">
                            <label>Use Code</label>
                            <input type="text" id="useCode" class="form-control" value="@Model.Code" readonly />
                        </div>
                        <div class="form-group">
                            <label>Use Code Type</label>
                            <select id="useCodeType" class="form-control" disabled>
                                @{
                                    var lstCodeType = Enum.GetValues(typeof(UseCodeType)).Cast<UseCodeType>().Select(x => x.ToString()).ToList();
                                }
                                @if (lstCodeType != null)
                                {
                                    foreach (var item in lstCodeType)
                                    {
                                        if (item == Model.UseCodeType)
                                        {
                                            <option value="@item" selected>@item</option>
                                        }
                                        else
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Use Code Type %</label>
                            <input type="number" id="useCodeTypePercentage" readonly value="@Model.UseCodeTypePercentage" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Status</label>
                            <select id="status" class="form-control">
                                <option value="true" @(Model.IsActive?"selected":"")>Active</option>
                                <option value="false" @(!Model.IsActive?"selected":"")>Disable</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <button type="button" onclick="updateUseCode(@Model.UseCodeId)" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

