﻿@using FH.Admin.Entities;
@model IEnumerable<UseCodeMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="wrapper wrapper-content">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="space"></div>
            <div class="ibox-title">
                <h5>Use Codes List</h5>
            </div>
            <div class="ibox-content">
                <button class="btn btn-primary" onclick="addNewCodeModel()">Add New UseCode</button>
                <table class="table table-bordered" style="font-size:12px">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Code
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Type %
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Created On
                            </th>
                            <th>
                                Updated On
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.UseCodeId</td>
                                    <td>@item.Code</td>
                                    <td>@item.UseCodeType</td>
                                    <td>@item.UseCodeTypePercentage</td>
                                    <td>
                                        @if (item.IsActive == true)
                                        {
                                            <button style="pointer-events:none;" class="btn btn-success btn-sm">Active</button>
                                        }
                                        else
                                        {
                                            <button style="pointer-events:none;" class="btn btn-warning btn-sm">Expired</button>
                                        }

                                    </td>
                                    <td>@item.CreatedOn.ToString("dd MMM yyyy")</td>
                                    <td>@(item.UpdatedOn == null ? "" : Convert.ToDateTime(item.UpdatedOn).ToString("dd MMM yyyy"))</td>
                                    <td>
                                        <button onclick="getUseCodeEditModal(@item.UseCodeId)" class="btn btn-primary btn-sm">Edit</button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    function addNewCodeModel() {
        $.get('/UseCodes/AddNew', function (data) {
            $('#addNewUseCode').remove();
            $('body').append(data);
            $('#addNewUseCode').modal('show');
        });
    }

    function addUseCode() {
        var useCode = $('#useCode').val() , useCodeType = $('#useCodeType option:selected').val() , useCodeTypePer = $('#useCodeTypePercentage').val();
        var postData = { 'code': useCode, 'useCodeType': useCodeType, 'useCodeTypePercentage': useCodeTypePer };
      
        $.post('/UseCodes/AddNew', postData, function (data) {
            if (data.Success == true) {reload(data.Message) }
        });
    }

    function getUseCodeEditModal(id) {
        $.get('/UseCodes/EditUseCode', {'useCodeId':id}, function (data) {
            $('#useCodeModal').remove();
            $('body').append(data);
            $('#useCodeModal').modal('show');
        });
    }

    function updateUseCode(id) {
        var postData = { 'useCodeId': id,'isActive':$('#status option:selected').val()};
        $.post('/UseCodes/UpdateUseCode', postData, function (data) {
            if (data.Success == true) {                
                reload(data.Message);
            }
            else
                showError(data.Message);
        });
    }
</script>
