﻿@using FH.Admin.Entities
@model SEOCategoryVM
    
        <table class="table table-bordered" style="font-size:12px">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Meta Title
                    </th>
                    <th>
                        Meta Keyword
                    </th>
                    <th>
                        Meta Description
                    </th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.SEOCategories != null)
                {
                    foreach (var item in Model.SEOCategories)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Url</td>
                            <td>@item.MetaTitle</td>
                            <td>@item.MetaKeyword</td>
                            <td>@item.MetaDesc</td>
                            <td>@item.City</td>
                            <td>
                                <a target="_blank" href="/seo/editcategory/@item.Id" class="btn btn-xs btn-white"><i class="fa fa-edit"></i></a>
                                <button onclick="deleteCategory(@item.Id)" class="btn btn-xs btn-white"><i class="fa fa-remove"></i></button>
                            </td>
                         </tr>
                    }
                }
            </tbody>
        </table>
        @Html.Partial("_Pager", new Pager(Model.TotalRecord, Model.PageNo, Model.PageSize,pageLoadEnable:false))
