﻿
@{
    ViewBag.Title = "AddLocality";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="ibox-title">
            <h3>Add Locality</h3>
        </div>
        <div class="ibox float-e-margins">
            <div class="space"></div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Locality</label>
                            <input type="text" class="form-control" value="" id="locality" />
                            <input type="hidden" id="hdnLat" />
                            <input type="hidden" id="hdnLng" />
                            <input type="hidden" id="hdnCity" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Radius( In Meters)</label>
                            <input type="number" id="radius" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="button" class="btn btn-default" onclick="addSeoLocality()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Property/_GoogleMapGeoDecode.cshtml")

<script>
    function addSeoLocality() {

        var locality = $('#locality').val();
        var lat = $('#hdnLat').val();
        var lng = $('#hdnLng').val();
        var city = $('#hdnCity').val();
        var radius = $('#radius').val();

        if (locality === '') { showError('Select Locality.'); return;}

        if (lat === '' || lng === '') { showError('Lat Lng required.'); return; }

        if (city === '') { showError('City required.'); return; }

        if (radius === '') { showError('Radius required.'); return; }

        $.post('/seo/addlocality', { locality: locality, city: city, lat: lat, lng: lng, radius: radius }, function (res) {
            if (res.Success == true)
                redirect(res.Data.Url, res.Message);
            else
                showError(res.Message);
        });
    }
</script>
