﻿@using FH.Admin_Web.ViewModel;
@model EditSEOCategory
@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="ibox-title">
            <h3>Edit Category</h3>
        </div>

        <div class="ibox float-e-margins categoryReplaceBox" style="display:none">
            <div class="space"></div>
            <div class="ibox-content">                                                                       
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Old Text</label>
                               <input type="text" id="oldText" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>New Text</label>
                               <input type="text" id="newText" class="form-control" />
                            </div>
                        </div>
                       
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <button type="submit" onclick="replaceCategory(@Model.Id)" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
               
            </div>
        </div>

        <div class="ibox float-e-margins">
            <div class="space"></div>
            <div class="ibox-content">
                <div class="col-md-12">
                    <button type="button" id="btnReplaceCategory" class="btn btn-primary" style="float:right"> Replace Text</button>
                </div>
                
                <form id="frmAddCategory" method="post" action="/seo/editcategory">
                    <div class="row">
                        <div class="col-md-12">
                            @if (Model.IsPostBack == true && !string.IsNullOrWhiteSpace(Model.Result))
                            {
                                <div class="alert alert-danger">
                                    @Model.Result
                                </div>
                            }
                            else if (Model.IsPostBack == true && string.IsNullOrWhiteSpace(Model.Result))
                            {
                                <div class="alert alert-success">
                                    Category update successfully
                                </div>
                            }
                        </div>
                    </div>

                    @Html.HiddenFor(x => x.Id)
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Category</label>
                                @Html.TextBoxFor(x => x.Category, new { @class = "form-control", Value = Model.Category })
                                @Html.ValidationMessageFor(x => x.Category)
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Slug</label>
                                @Html.TextBoxFor(x => x.Url, new { @class = "form-control", @readonly = true, Value = Model.Url })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Meta Title</label>
                                @Html.TextBoxFor(x => x.MetaTitle, new { @class = "form-control", Value = Model.MetaTitle })
                                @Html.ValidationMessageFor(x => x.MetaTitle)
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Meta Keyword</label>
                                @Html.TextAreaFor(x => x.MetaKeyword, new { @class = "form-control", Value = Model.MetaKeyword })
                                @Html.ValidationMessageFor(x => x.MetaKeyword)
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Meta Desc</label>
                                @Html.TextAreaFor(x => x.MetaDesc, new { @class = "form-control", Value = Model.MetaDesc })
                                @Html.ValidationMessageFor(x => x.MetaDesc)
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Meta Json</label>
                                @Html.TextAreaFor(x => x.MetaJson, new { @class = "form-control", Value = Model.MetaJson })
                                @Html.ValidationMessageFor(x => x.MetaJson)
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Heading</label>
                                @Html.TextAreaFor(x => x.Heading, new { @class = "form-control", Value = Model.Heading })
                                @Html.ValidationMessageFor(x => x.Heading)
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Heading Content</label>
                                @Html.TextAreaFor(x => x.HeadingContent, new { @class = "form-control", Value = Model.HeadingContent })
                                @Html.ValidationMessageFor(x => x.HeadingContent)
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('#btnReplaceCategory').click(function () {
        $('.categoryReplaceBox').show();
    });

    function replaceCategory(id) {
        var oldText = $('#oldText').val();
        var newText = $('#newText').val();

        if (oldText === '') { showError('Old Text required.'); return; }
        if (newText === '') { showError('New Text required.'); return; }

        $.post('/seo/ReplaceCategoryText', { Id: id, oldText: oldText, newText: newText }, function (data) {
            if (data.Success == true)
                reload('Text replaced successfully.');
            else
                showError(data.Message); 
        });
    }
</script>
