﻿@using FH.Admin_Web.ViewModel;
@model AddTenantModel
@{
    ViewBag.Title = "Add Plan";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="wrapper wrapper-content">
    <h3>Add Plan</h3> 
    <div class="ibox float-e-margins">            
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Name*</b></label>
                        <input type="text" class="form-control" name="Name" id="Name" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Description*</b></label>
                        <textarea name="Description" id="Description" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Price*</b></label>
                        <input type="number" class="form-control" name="Price" id="Price" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Discount (%)</b></label>
                        <input type="number" class="form-control" name="Discount" id="Discount" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Validity (Days)</b></label>
                        <input type="number" class="form-control" name="Validity" id="Validity" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Number of Leads*</b></label>
                        <input type="number" class="form-control" name="NumberOfLeads" id="NumberOfLeads" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Active/Inactive</b></label>
                        <select class="form-control" name="Status" id="Status">
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Plan Type</b></label>
                        <select class="form-control" name="Category" id="Category">
                            <option value="LEADPLAN">Lead Plan</option>
                            <option value="PLATEFORMPLAN">Plateform Plan</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Varified Tag</b></label>
                        <select class="form-control" name="VarifiedTag" id="VarifiedTag">
                            <option value="1">Varified</option>
                            <option value="0">Not Varified</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label><b>Color*</b></label>
                        <input type="color" class="form-control" name="Color" id="Color" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label><b>Head Section SEO Data</b></label>
                        <textarea name="SEOData" id="SEOData" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <button type="submit" id="submitForm" class="btn btn-primary">Submit</button>
                </div>
            </div>
            
        </div> 
    </div>
</div>
<script>
    //name,description,seoData,price,NumberofLeads,status,image
    $(function () {
        $("#submitForm").click(function () {

            var Name = $("#Name").val();
            var Description = $("#Description").val();
            var Price = $("#Price").val();
            var Discount = $("#Discount").val();
            var Validity = $("#Validity").val();
            var NumberOfLeads = $("#NumberOfLeads").val();
            var Status = $("#Status").val();
            var VarifiedTag = $("#VarifiedTag").val();
            var Color = $("#Color").val();
            var SEOData = $("#SEOData").val();
            var Category = $("#Category").val();

            if (Name != '' && Price != '' && NumberOfLeads != '' && Description != '' && Category != '' ) {
                $.ajax({
                    url: "@Url.Action("AddPlan", "Plan")",
                    type: "POST",
                    data: { Name: Name, Description: Description, Category: Category, Price: Price, Discount: Discount, Validity: Validity, NumberOfLeads: NumberOfLeads, Status: Status, VarifiedTag: VarifiedTag, Color: Color, SEOData: SEOData },
                    success: function (data) {
                        console.log(data);
                        if (data.Success == true) {
                            showSuccessMessage(data.Message);
                            window.location = "@Url.Action("List","Plan")";
                        }
                        else
                            showError(data.ErrorMessage); 
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        showError("Something went wrong.Please try again.");
                    } 
                });
            } else {
                showError("Please Fill All the feilds.");
            }


        });
    });
</script>
