﻿@using FH.Admin_Web.ViewModel;
@model GetAllPlantVM
  
@{
    ViewBag.Title = "Plan List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
 
<div class="wrapper wrapper-content">
    <h3>Plan List</h3> 
     
    <form action="/tenant/list" method="get">
@*        <div class="ibox float-e-margins">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="custom_collapse_btn"><i class="fa fa-plus"></i></div>
                    <h5>Filter</h5>
                </div>
                <div class="ibox-content custom_collapse_body">

                    <div class="row">
                        <div class="col-md-12-0">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tenant ID</label>
                                    <input type="text" name="Tid" class="form-control" value="@if (@Model.Tid > 0) { @Model.Tid.ToString() }" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Property ID</label>
                                    <input type="text" name="Pid" class="form-control" value="@if (@Model.Pid > 0) { @Model.Pid.ToString() }" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tenant Mobile</label>
                                    @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tenant Room No.</label>
                                    <input type="text" name="RoomNo" class="form-control" value="@if (@Model.RoomNo > 0) { @Model.RoomNo.ToString() }" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" style="margin-top:25px">
                                        <i class="fa fa-search-plus"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>*@

        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-bordered" style="font-size:12px">
                        <thead>
                            <tr>
                                <th>
                                    Plan Id
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Plan Type
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Discount
                                </th>
                                <th>
                                    Validity
                                </th>
                                <th>
                                    Number Of Leads
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    VarifiedTag
                                </th>
                                <th>
                                    Color
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Plans != null)
                            {
                                foreach (var item in Model.Plans)
                                {
                            <tr>
                                <td>@item.PlanId</td>

                                <td>@item.Name</td>
                                <td>@item.Category</td>
                                <td>@item.Price</td>
                                <td>@item.Discount</td>
                                <td>@item.Validity</td>
                                <td>@item.NumberOfLeads</td>
                                <td>
                                    @if (item.Status != 0)
                                    {<label>Active</label> }
                                    else
                                    { <label>Inactive</label>}
                                </td>
                                <td>
                                    @if (item.VarifiedTag != 0)
                                    {<label>Varified</label> }
                                    else
                                    { <label>Not Varified</label>}
                                </td>
                                <td>
                                    @if (item.Color != "")
                                    {<label style="        color: @item.Color; background-color: @item.Color;  border-radius: 7px; padding-right: 5px;  padding-left: 5px; ">.</label> }
                                    else
                                    { <label>No Color</label>}
                                </td>
                                <td>
                                    <a href="/plan/edit?planid=@item.PlanId" target="_blank" class="btn btn-success btn-xs">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    @*                                    <button type="button" class="btn btn-danger btn-xs deletebutton">
                <i class="fa fa-remove"></i>
            </button>
            <a href="/plan/delete?planid=@item.PlanId" class="btn btn-danger btn-xs" style="display:none;">
                <i class="fa fa-remove"></i>Confrim
            </a>*@
                                </td>
                            </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>


<script>
    $(".deletebutton").click(function () {
        $(this).siblings().toggle();
        $(this).hide();
    });
</script>