﻿@using FH.Admin.Entities
@model IEnumerable<CityMaster>

<div class="panel panel-default">
    <div class="panel-heading">Area Detail</div>
    <div class="panel-body">
        <div class="col-md-6">
            <div class="form-group">
                <label>City</label>
                <select id="ddAMCity" class="form-control">
                    <option value="0">--City--</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.CityId">@item.CityName</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Zone</label>
                <select id="ddAMZone" class="form-control">
                    <option value="0">--Zone--</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Area</label>
                <select id="ddAMArea" class="form-control" multiple></select>
            </div>
        </div>
    </div>
</div>
