﻿@using FH.Admin.Entities;
@model IEnumerable<UserList>

 <table class="table table-bordered" id="tblArea">
                                <thead>
                                    <tr>
                                        <th>
                                            Emp Name
                                        </th>
                                        <th>
                                            Email Id
                                        </th>
                                        <th>
                                            Mobile
                                        </th>
                                        <th>City</th>
                                        <th>
                                            Department
                                        </th>
                                        <th>
                                            Team
                                        </th>
                                        <th>
                                            Designation
                                        </th>                                       
                                        <th>
                                            Status
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @item.Name
                                                </td>
                                                <td>
                                                    @item.Email
                                                </td>
                                                <td>
                                                    @item.Mobile
                                                </td>
                                                <td>
                                                    @item.City
                                                </td>
                                                <td>
                                                    @item.DepartmentName
                                                </td>
                                                <td>
                                                    @item.TeamName
                                                </td>
                                                <td>
                                                    @item.DesignationName
                                                </td>                                                
                                                <td>
                                                   @if (item.IsActive == true)
                                                   {
                                                    <button class="btn btn-success btn-xs pointer-events-none">Active</button>}
                                                   else
                                                   {<button class="btn btn-warning btn-xs pointer-events-none">Disable</button>}
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
