﻿@using FH.Admin.Entities;
@model UserDetails
<html>
<head>
    <title>Login</title>
    <link href="@Url.Content("~/Content/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/css/custom.css")" rel="stylesheet" type="text/css">        
    <script type="text/javascript" src="@Url.Content("/Content/js/jquery-2.1.1.min.js")"></script>   
</head>
<body class="gray-bg login-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>

            <div class="ibox-content">
                @*<img src="~/Content/images/logo-black.png" class="img-responsive logo-black">*@
                <hr>
                <h3>Admin Login</h3>
                <form id="frmLogin" action="/user/login" class="form-horizontal style-form" method="post">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <span style="color:red">@TempData["error"]</span>                            
                        </div>
                    </div>
                    <div class="form-group">                        
                        <div class="col-sm-12">
                            <input type="text" id="txtEmail" name="Email" value="@Model.Email" class="form-control" placeholder="User Name" autocomplete="off">                            
                            <span id="lblEmail" style="color:red;float:left">@TempData["email"]</span>
                        </div>
                    </div>
                    <div class="form-group">                        
                        <div class="col-sm-12">
                            <input type="password" id="txtPassword" name="Password" value="@Model.Password" class="form-control" placeholder="Password" autocomplete="off"d>                            
                            <span id="lblPassword" style="color:red;float:left">@TempData["password"]</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button id="btnLogin" onclick="return login();" class="btn btn-primary btn-block">Login</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <style>
        .login-bg {
            background-color: #CE93D8 !important;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0px;
            left: 0px;
            
            background: none;
        }
        .btn-primary {
            background-color: #8E24AA;
            border-color: #8E24AA;
            color: #FFFFFF;
        }
    </style>
    <script>


        function login() {
            var email = $('#txtEmail').val().trim();
            var password = $('#txtPassword').val().trim();

            var isValid = true;

            if (email == "")
            { $('#lblEmail').text('required.').show(); isValid = false; }
            else if (email.length > 50)
            { $('#lblEmail').text('max 50 characters allowed.').show(); isValid = false; }
            else
            {
                var regex = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
                if (regex.test(email) == false)
                { $('#lblEmail').text('invalid email.').show(); isValid = false; }
            }

            if (password == "")
            { $('#lblPassword').text('required.').show(); isValid = false; }
            else if (password.length > 50)
            { $('#lblPassword').text('max 50 characters allowed.').show(); isValid = false; }
            else if (password.length < 5)
            { $('#lblPassword').text('minimum 5 characters required.').show(); isValid = false; }

            setTimeout(function () { $('.error').hide() }, 2000);

            if (isValid) {                
                return true;
            }
            else
                return false;
        }
    </script>
</body>
</html>