﻿@using FH.Admin.Entities;
@model UserRegistration

@{
    ViewBag.Title = "User Registration";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Employee List</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-5 m-b-xs">
                        </div>
                        <div class="col-sm-3 col-sm-offset-4">
                            <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#addEmployeeModal">Add Employee</button>
                        </div>
                        <div class="space"></div>
                        <div id="userList">

                        </div>
                    </div>
               </div>
                </div>
        </div>
    </div>
</div>

<input type="hidden" id="followUpTeamId" value="@System.Configuration.ConfigurationManager.AppSettings["FollowupTeamId"]" />
<div class="modal fade" id="addEmployeeModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Employee</h4>
            </div>
            <div class="modal-body">
                <div class="row">                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Full Name</label>
                            <input type="text" name="Name" id="name" value="" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" id="email" value="" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Mobile</label>
                            <input type="number" id="mobile" value="" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>City</label>
                            <select id="city" class="form-control">
                                <option value="0">--City--</option>
                                @foreach (var item in Model.City)
                                {
                                    <option value="@item.CityId">@item.CityName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Department</label>
                            <select id="department" class="form-control">
                                <option value="0">--Department--</option>                               
                                @foreach (var item in Model.Department)
                                {
                                    <option value="@item.DepartmentId">@item.DepartmentName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Team</label>
                            <select id="team" class="form-control">
                                <option value="0">--Team--</option>                                
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Designation</label>
                            <select id="designation" class="form-control">
                                <option value="0">--Designation--</option>                               
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6" id="dvZone" style="display:none">
                        <div class="form-group">
                            <label>Zone</label>
                            <select id="zone" class="form-control">
                                <option value="0">--Zone--</option>
                            </select>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnRegistar" class="btn btn-primary" onclick="postEmployee();">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>                

$(function () {
    getUser();
});

$('#department').change(function(){
    var departmentId = parseInt($(this).val())
    getTeam(departmentId);
    getDesignation(departmentId);
});

$('#city').change(function () {
    if (parseInt($(this).val()) > 0)
        $('#team').val(0);
});

$('#team').change(function () {
    if($(this).val() == $('#followUpTeamId').val())
    {
        if (parseInt($('#city option:selected').val()) > 0) {
            $('#dvZone').show();
            getZone($('#city option:selected').val());
        }
        else { return showError('Please select city.'); }
    }        
    else
        $('#dvZone').hide();
});

function getUser() {
        $('.loader').show();
        $.post("/user/GetUser", function (data) {
            $('#userList').html(data);
            $('.loading').hide();
        });
    }

function getTeam(departmentId)
    {
        $('.loader').show();
        $.get("/master/GetTeam",{departmentId:departmentId},function (data) {
            $("#team").html('');
            $("#team").append($("<option></option>").val("0").html("--Team--"));
            $.each(data.Team, function (key, value) {
                $("#team").append($("<option></option>").val(value.TeamId).html(value.TeamName));
            });        
            $('.loading').hide();
        });
    }

function getDesignation(departmentId) {
        $('.loader').show();
        $.get("/master/GetDesignation", { departmentId: departmentId }, function (data) {
            $("#designation").html('');
            $("#designation").append($("<option></option>").val("0").html("--Designation--"));
            $.each(data.Designation, function (key, value) {
                $("#designation").append($("<option></option>").val(value.DesignationId).html(value.DesignationName));
            });
            $('.loading').hide();
        });
    }

function getZone(cityId)
{
    $('.loader').show();
    $.get("/master/GetZone", {cityId: cityId }, function (data) {
        $("#zone").html('');
        $("#zone").append($("<option></option>").val("0").html("--Zone--"));
        if (!data.Success) {
            $.each(data.Zone, function (key, value) {
                $("#zone").append($("<option></option>").val(value.ZoneId).html(value.ZoneName));
            });
        }
        else
           showError('Please select city.');
        $('.loading').hide();
    });
}

function postEmployee()
{
    var name = $('#name').val().trim();
    var email = $('#email').val().trim();
    var mobile = $('#mobile').val().trim();
    var city =$('#city').val().trim();
    var department = $('#department').val();
    var designation = $('#designation').val();
    var team = $('#team').val();
    var zone = $('#zone').val();

    if (name == "")
    return showError('Name required.'); 
    else if (name.length > 50)
    return showError('Name max 50 characters allowed.');
    else if (!validateOnlyAlpha(name))
        return showError('Name,Only alphabate allowed.');
    if (!validateEmail(email))
        return showError('Invalid email.');
    else if (email.length > 50)
     return showAlert('Email,max 50 characters allowed.');
    
    if (!validateMobile(mobile))
        return showError('Invalid mobile no.');
    if (city == "")
        return showError('City required.');
    if (department == "")
        return showError('Department required.');
    if (designation == "")
        return showError('Designation required.');
    if (team == "")
        return showError('Team required.');

    if (team == $('#followUpTeamId').val() && zone==0)
        return showError('Zone required.');

    var postData = {
        Name: name,
        Email: email,
        Mobile: mobile,
        CityId:city,
        DepartmentId: department,
        DesignationId: designation,
        TeamId: team,
        ZoneId:zone
    };

    loading.show('#btnRegistar');    
    $.ajax({
        url: "/user/registration",
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify(postData),
        success: function (data, status) {
            if (data.Success == true) {
                showSuccessMessage('Data Insert Successfully.');
                $('#addEmployeeModal input[type="text"]').val(''); $('#addEmployeeModal select').val(0); $('#addEmployeeModal').modal('hide');
                getUser();
            }
            else
                showError(data.ErrorMessage);
        },
        complete: function () {
            loading.hide('#btnRegistar','Submit');
        }
    });

}

</script>
