﻿<!DOCTYPE html>
<html>
<head>
    <title>Http 404:File Not Found</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/Content/assets/img/favicon.ico" type="image/x-icon">
    <link href="/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <section id="mu-menu">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container" style="height:70px">
                <div class="navbar-header">
                </div>
            </div>
        </nav>
    </section>
    <section id="mu-error">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-error-area">
                        <p>Oops! The page you requested was not found!</p>
                        <span>The page you are looking for is not available or has been removed or changed.</span>
                        <h2>404</h2>
                        <a class="mu-post-btn" href="/Property/myproperty">GO TO HOME</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

