﻿<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/css/font-awesome.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/css/custom.css")" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-2.1.1.min.js")"></script>
</head>
<body>
    @{
        string cookieToken, formToken, tokencookie;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        tokencookie = cookieToken + ":" + formToken;
    }

    <input type="hidden" id="RequestVerificationTokenAjax" value="@tokencookie" />
    <div class="validation_error"></div>
    <div class="success-message"></div>
    <div class="loader"></div>
    <div id="wrapper">
        @Html.Partial("_PartialHeader")
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message"></span>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">Log out</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Profile</a></li>
                                <li><a href="/user/logout">Log out</a></li>
                            </ul>
                        </li>

                    </ul>

                </nav>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    @RenderBody()
                    <div class="footer">
                        <div class="text-center"><strong>Copyright</strong> &copy; 2023</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <style>
        .btn-primary {
            background-color: #9C27B0;
            border-color: #9C27B0;
            color: #FFFFFF;
        }
    </style>

    <script type="text/javascript" src="@Url.Content("~/Content/js/common.js?v=1")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/inspinia.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.metisMenu.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.slimscroll.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/pace.min.js")"></script>


    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"></script> 
    <script src="~/Client Scripts/mvcfoolproof.unobtrusive.min.js"></script>
</body>
</html>
