﻿@model Pager

@functions{
    private string NewUrl(int page)
    {
        var nameValues = HttpUtility.ParseQueryString(Request.QueryString.ToString());
        nameValues.Set("page", page.ToString());
        return Request.Url.AbsolutePath + "?" + nameValues;
    }
}

@helper ClickType(int page,string name)
{   
if (Model.PageLoad)
{
        <a href="@NewUrl(page)">@name</a>
}
else
{   
        <a href="#" onclick="paging(@page)">@name</a>
}
}

<div class="text-center">
    @if (Model.EndPage > 1)
    {
        <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <li>
                    @ClickType(1,"First")
                </li>
                <li>
                    @ClickType(Model.CurrentPage - 1,"Previous")
                </li>
            }

            @for (var page = Model.StartPage; page <= Model.EndPage; page++)
            {
                <li class="@(page == Model.CurrentPage ? "active" : "")">
                    @ClickType(page,page.ToString())
                </li>
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li>
                    @ClickType(Model.CurrentPage + 1,"Next")
                </li>
                <li>
                    @ClickType(Model.TotalPages,"Last")
                </li>
            }
        </ul>}
</div>
