﻿@using FH.Web.Security;

<div class="modal fade" id="myModalPopup" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" id="modalPopup"></div>
    </div>
</div>
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        @if (CurrentUser.User != null && FH.Validator.Validation.DecryptToInt(CurrentUser.User.UserId) == 2)
        {
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span>
                        </span>
                        <a>
                            <span class="clear logoText">Haltn Admin</span>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Properties</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/property/index?status=approved">Approved</a></li>
                    </ul>
                </li>
                @if (FH.Validator.Validation.DecryptToInt(CurrentUser.User.UserId) == 3)
                {
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Tenant</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/tenant/add">Add Tenant</a></li>
                        </ul>
                    </li>
                }
            </ul>
        }
        else if (FH.Validator.Validation.DecryptToInt(CurrentUser.User.UserId) == 3)
        {
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span>
                        </span>
                        <a>
                            <span class="clear logoText">Haltn Admin</span>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Administrator</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">                       
                        <li><a href="/vendor/addowner">Add Owner</a></li>                       
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Properties</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/property/index?status=pending">New</a></li>
                    </ul>
                </li>               
            </ul>
        }
        else
        {
    <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
            <div class="dropdown profile-element">
                <span>
                </span>
                <a>
                    <span class="clear logoText">Haltn Admin</span>
                </a>
            </div>
        </li>
        <li>
            <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Administrator</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li><a href="/vendor/agentlist">Agent List</a></li>
                <li><a href="/vendor/ownerlist">Owner List</a></li>
                <li><a href="/vendor/buyerlist">Buyer List</a></li>
                <li><a href="/vendor/accountList">Account List</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Master</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li><a href="/usecodes/index">Use Codes</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Properties</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li><a href="/property/index?status=pending">New</a></li>
                <li><a href="/property/index?status=approved">Approved</a></li>
                <li><a href="/property/index?status=rentout">Rent Out</a></li>
                <li><a href="/property/index?status=rejected">Rejected</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Tenant</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li><a href="/tenant/list">List</a></li>
                <li><a href="/tenant/LastMonthRentNotPaid">Last Month Not Paid Tenant</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Leads</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li><a href="/lead/sitevisit" target="_blank">Today's Visit</a></li>
                <li><a href="/lead/addofflinelead" target="_blank">Add Lead</a></li>
                <li><a href="/lead/alllead" target="_blank">Lead List</a></li>
                <li><a href="/lead/websitelead" target="_blank">Website Leads</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">SEO</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li><a href="/seo/category" target="_blank">Category</a></li>
                <li><a href="/seo/listlocality" target="_blank">Locality</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Plans</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li><a href="/plan/add" target="_blank">Add</a></li>
                <li><a href="/plan/list" target="_blank">List</a></li>
                <li><a href="/plan/selllist" target="_blank">Sell List</a></li>
                <li><a href="/Plan/AddSales" target="_blank">Create Order</a></li>
            </ul> 
        </li> 
    </ul>
        }
    </div>
</nav>
