*{margin:0px; padding:0px;}

/* global style begin here */
.m-0{ magin:0px;}
.space{ height:10px;}
.btn-default{ background:#ececec;}
/* global style ends here */

.logoText{ font-size:24px; font-weight:bold;}

.middle-box{transform: translateY(10%);}

.wrapper-content{ min-height: 600px;}

.logo-mini{ margin:auto;}
.logo-black{ margin:auto;}
.login-bg{ background: url(../images/bg.jpg); width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; background-size:cover;}

.pointer-events-none{ pointer-events: none;}

.modal-header{ background:#da241a; color:#fff;} 
.close{ opacity: 1; color:#fff;}
.close:hover{ opacity: 1; color:#fff;}

#addAgentModal h3{ font-weight: bold; color:#da241a;}

.select2-container{z-index: 1000000; width: 100% !important;}

ul.agent-filter-ul{ margin: 0px; padding: 0px;}
ul.agent-filter-ul li{ list-style: none; float: left;}
/* ul.agent-filter-ul button{ border-bottom-left-radius: 0px; border-top-left-radius: 0px; padding: 7px 10px;} */
/* ul.agent-filter-ul li.col-md-2{ padding: 0px !important;} */
ul.agent-filter-ul li.col-md-4{ margin-bottom: 15px;}
ul.agent-filter-ul .select2-container--default .select2-selection--multiple{ border-radius: 0px !important;}
ul.agent-filter-ul .select2-container .select2-selection--multiple{min-height: 34px;}

.custom_collapse_btn, .table_collapse_btn{ float: left; margin-right: 10px;  width: 22px;
    height: 22px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 2px 0px 0px 5px;
    font-size: 12px;
    cursor: pointer;
}

.custom_collapse_body, .table_collapse_body{ display: none;}
.table_collapse_body td{ padding: 10px 0px !important;}
.ibox-tools{ overflow: hidden;}
.zoneArea-list-box{ border: 1px solid #f1f1f1; padding: 10px 15px;}
.zoneArea-list-box p{ margin-bottom: 0px;}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{ background: #da241a;}
.nav-pills>li>a{ border-radius: 0px;}


/*********Property div list*************/
.dv-list-item
    {
       color: rgba(0, 0, 0, 0.54);
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    margin: 0px 4px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-image: initial;
    border-radius: 24px;
    padding: 0px 15px;
    }
    .dv-list-item.active
    {
      background: #f44336;
      border-color:#f44336;
      color: white;
    }


    /*//////////////File Uploader */
.upload-images-box{ border: dashed #ccc; width: 100%; height: auto; padding: 100px 0px; text-align: center; cursor: pointer;}
  
ul.image-instructions{ margin: 0px; margin-left: 150px;}
ul.image-instructions li{ list-style: none; position: relative; padding-left: 20px; text-align: left;}
ul.image-instructions li:before{ content: ''; position: absolute; left: 0px; top: 7px; width: 12px; height: 12px; background:none; border: 2px solid #EE2E24; border-radius: 50%;}

.upload-loader{ position: absolute; top:0%; left: 0%; width: 100%; height: 100%; background:rgba(0, 0, 0 ,0.7); color:#fff; cursor: pointer; text-align: center; font-size: 14px; padding-top: 20%;}

.img-upload-loader{ width: 25px; height: 25px; border: 3px solid #EE2E24; border-top:3px solid transparent; border-radius: 50%; animation: spinCicle 1s linear infinite; position: absolute; top: 36%; left: 0px; right: 0px; margin-left:auto; margin-right:auto;}
@keyframes spinCicle{
    0%{ transform: rotate(0);}
    100%{ transform: rotate(360deg);}
}

.post-property-iamges{ margin: 0px; padding: 0px; overflow: hidden;}
.post-property-iamges li{ list-style: none; float: left; width: 18%; height: 100px; position: relative; background-size:100% 100% !important; background-repeat: no-repeat !important; border:1px solid #ccc; margin: 1%;}
.post-property-iamges li .remove-picture{ position: absolute; bottom: 0px; right: 0px; width: 30px; height: 25px; background:rgba(0, 0, 0 ,0.7); color:#fff; padding: 7px; padding-top: 3px !important; cursor: pointer; text-align: center; font-size: 14px; z-index: 1;}

.add-more-photos{width: 100%;height: 100px;text-align: center;cursor: pointer;transition:all 0.45s;}
.add-more-photos h2{ font-size: 48px;}
.add-more-photos p{ font-size: 12px; color:#555;}
.add-more-photos:hover{ background:#fbfbfb;}


.field-validation-error {
    color: red;
}
  .validation_error{ position: fixed; bottom: 20px; width: 80%; height: auto; text-align: center; left: 0px; right: 0px; margin-left: auto; margin-right: auto; background: #ee2e24; z-index: 10000; color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 4px 39px #333; transition: all 0.45s; transform: translateY(100px);}
.validation_error.active{ transform: translateY(0px);}
.success-message{position: fixed; bottom: 20px; width: 80%; height: auto; text-align: center; left: 0px; right: 0px; margin-left: auto; margin-right: auto; background: #4caf50; z-index: 10000; color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 4px 39px #333; transition: all 0.45s; transform: translateY(100px);}
.success-message.active{ transform: translateY(0px);}

table th{background: #999 !important; color: #fff;}

/* lead-box begin here */
.lead-box{ background: #f4f4f4; overflow: hidden; border: 1px solid #ccc; font-size: 12px; margin-bottom:15px;}
.lead-box .lead-header{background: #e1e1e1; overflow: hidden;}
.lead-box .lead-body{ background: #f4f4f4;}
.lead-box ul{ margin: 0px; padding: 0px;}
.lead-box ul li{ list-style: none; float: left; border-right: 1px solid #ccc; padding: 8px 0px;  text-align: center;}
.lead-box ul li:last-child{ border: 1px;}
.lead-box ul li .lead-prop{ font-weight: bold;}
.lead-box ul li .lead-prop, .lead-box ul li .lead-value{ display: block; line-height: 20px;}
.lead-box .lead-header ul li{ width: 14.25%; color:#333;}
.lead-box .lead-body ul li{ width: 11%;}
.lead-box .lead-body ul{ border-bottom: 1px solid #ccc; overflow: hidden;}
.width100p{ width: 100% !important; text-align: left !important; padding-left: 15px !important;}
.width25p{ width:25% !important;}
/* lead-box ends here */

.loader { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: url(../images/loader.gif) 50% 50% no-repeat;}

.post-property-iamges{ margin: 0px; padding: 0px; overflow: hidden;}
.post-property-iamges li{ list-style: none; float: left; width: 18%; margin: 1%; position: relative;}
.post-property-iamges li span{ position: absolute; bottom: 0px; right: 0px; width: 36px; height: 30px; background:rgba(0, 0, 0 ,0.7); color:#fff; padding: 7px; padding-top: 3px !important; cursor: pointer; text-align: center; font-size: 14px;}

