﻿@model PropertyLeadVM
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Lead-Assigned Queue.";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <button id="btnStatus" class="btn btn-primary">Change Status</button>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" style="font-size:12px">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Lead</th>
                                    <th>PID</th>
                                    <th>PType</th>
                                    <th>City</th>
                                    <th>Locality</th>
                                    <th>Property Posted On</th>
                                    <th>Prop Status</th>
                                    <th>Posted By</th>
                                    <th>Visitor</th>
                                    <th>Visit Date Time</th>
                                    <th>Lead Created</th>
                                    <th>Lead Status</th>
                                    <th>Assignee</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Lead != null)
                                {                                   
                                    foreach (var item in Model.Lead)
                                    {
                                        <tr>
                                            <td>
                                                <input type="radio" name="lead" data-lid="@item.LeadId" data-pid="@item.PropertyId" />
                                            </td>
                                            <td>@item.LeadId</td>
                                            <td>
                                                <a style="text-decoration:underline" target="_blank" href="/property/edit?pid=@item.PropertyId"> @item.PropertyId</a>
                                            </td>
                                            <td>
                                                @item.PropertyType
                                            </td>
                                            <td>
                                                @item.City
                                            </td>
                                            <td>
                                                @item.Locality
                                            </td>
                                            <td>
                                                @item.PropertyPostedOn
                                            </td>
                                            <td>
                                                @if (string.IsNullOrEmpty(item.PropertyStatus) || item.PropertyStatus.ToLower() == "pending")
                                                {<span style="background-color:red;padding:2px;color:white">Pending</span>}
                                                else if (item.PropertyStatus.ToLower() == "approved")
                                                {<span style="background-color:green;padding:2px;color:white">Approved</span>}
                                                else
                                                {<span style="background-color:red;padding:2px;color:white">@item.PropertyStatus</span>}
                                            </td>
                                            <td>
                                                @item.PropertyPostedByName | @item.PropertyPostedByMobile
                                            </td>
                                            <td>
                                                @item.VisitorName | @item.VisitorMobile
                                            </td>
                                            <td>
                                                @item.VisitDate @item.VisitTime
                                            </td>
                                            <td>
                                                @item.LeadCreatedOn
                                            </td>
                                            <td>
                                                @item.LeadStatus
                                            </td>
                                            <td>
                                                @if (string.IsNullOrWhiteSpace(item.AssigneeMobile))
                                                {
                                                    <span style="background-color:red; padding: 2px;color:white"> NA </span>
                                                }
                                                else
                                                { <text>@item.AssigneeName | @item.AssigneeMobile</text>}
                                            </td>                                            
                                        </tr>                                        
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                    @{
                        if (Model != null && Model.Lead != null && Model.Lead.Count() > 0)
                        {
                            @Html.Partial("_Pager", new Pager(Model.Lead.FirstOrDefault().TotalRecord, ViewBag.PageIndex, ViewBag.PageSize))
                        }
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="leadModalPopup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="leadModalContent">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Lead Status</h4>
            </div>
            <div class="modal-body">                
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <select class="form-control" id="LeadStatus">
                                <option value="">--Status--</option>
                                <option value="VISITED">Visited</option>
                                <option value="CANCELLED">Cancelled</option>
                            </select>
                        </div>
                    </div>
                    <div class=" col-md-12">
                        <div class="form-group">
                            <textarea id="Comment" class="form-control" placeholder="Enter Comment"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="button" id="btnUpdateLeadStatus" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#btnStatus').click(function(){
        var selectedLead = $("input[name='lead']:checked");
        if(selectedLead.val()=="" || selectedLead.val()==undefined)
        { alert("Please select Lead"); return false; }
        $('#leadModalPopup').modal('show');
    });

    $('#btnUpdateLeadStatus').click(function () {
     var selectedLead = $("input[name='lead']:checked");
     var leadId =selectedLead.data('lid');
     var propertyId =selectedLead.data('pid');
     var status = $('#LeadStatus').val();
     var comment = $('#Comment').val();

     if (leadId == null || leadId == 0 || leadId == "")
     { alert("LeadId not supplied."); return false; }
     if (propertyId == null || propertyId == 0 || propertyId == "")
     { alert("Property Id not supplied."); return false; }

     if (status != "CANCELLED" && status !="VISITED")
     { alert("Invalid Status."); return false; }

     var postData = {
         leadId: leadId,
         propertyId: propertyId,
         status: status,
         comment: comment
     };
     $.ajax({
         url: "/PropertyLead/UpdateLeadStatus",
         type: "POST",
         dataType: "json",
         contentType: "application/json; charset=utf-8",
         data: JSON.stringify(postData),
         success: function (data, status) {
             if (data.Success == true) {
                 $('#leadModalPopup').modal('hide');
                 $('#LeadStatus').val('');
                 $('#Comment').val('');
                 selectedLead.closest('tr').remove();
             }
             else
                 alert(data.ErrorMessage);
         }
     });

 });
</script>