﻿@model PropertyLeadVM
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Lead Cancelled.";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Lead Cancelled</h5>
                </div>
                <div class="ibox-content">
                    @if (Model.Lead != null && Model.Lead.Count() > 0)
                    {
                        <button class="btn btn-primary" id="btnLeadStatus">Change Status</button>
                        var uniqueVisitor = Model.Lead.GroupBy(x => new {x.VisitorName, x.VisitorMobile, x.IsReferredByAgent, x.LeadAssignTo });
                        string clientRequirement = "";
                        foreach (var uniqueItem in uniqueVisitor)
                        {
                            <div class="lead-box">
                                <div class="lead-header">
                                    <ul>                                        
                                        <li>
                                            <span class="lead-prop">Name</span>
                                            <span class="lead-value">@uniqueItem.Key.VisitorName</span>
                                        </li>
                                        <li>
                                            <span class="lead-prop">Mobile</span>
                                            <span class="lead-value">@uniqueItem.Key.VisitorMobile</span>
                                        </li>
                                        <li>
                                            <span class="lead-prop">Is Reffered By Agent</span>
                                            <span class="lead-value">@uniqueItem.Key.IsReferredByAgent</span>
                                        </li>
                                        <li>
                                            <span class="lead-prop">FollowUp By</span>
                                            <span class="lead-value">@uniqueItem.Key.LeadAssignTo</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="lead-body">
                                    @foreach (var item in uniqueItem)
                                    {
                                        clientRequirement += item.Remarks + "|";
                                        <ul>
                                            <li>
                                                <span class="lead-prop"><input type="radio" name="lead" value="@item.LeadId"> LID</span>
                                                <span class="lead-value">@item.LeadId</span>
                                            </li>
                                            <li>
                                                <span class="lead-prop">Visit Date Time</span>
                                                <span class="lead-value">@(!string.IsNullOrEmpty(item.VisitDate) ? (Convert.ToDateTime(item.VisitDate).ToString("dd MMM yyyy")) : "") @item.VisitTime</span>
                                            </li>
                                            <li>
                                                <span class="lead-prop">Lead Status</span>
                                                <span class="lead-value">@item.LeadStatus</span>
                                            </li>
                                            <li>
                                                <span class="lead-prop">P ID</span>
                                                <span class="lead-value">@item.PropertyId</span>
                                            </li>
                                            <li>
                                                <span class="lead-prop">P Type</span>
                                                <span class="lead-value">@item.PropertyType</span>
                                            </li>
                                            <li>
                                                <span class="lead-prop">City</span>
                                                <span class="lead-value">@item.City</span>
                                            </li>
                                            <li>
                                                <span class="lead-prop">Locality</span>
                                                <span class="lead-value">@item.Locality</span>
                                            </li>
                                            <li>
                                                <span class="lead-prop">P. Status</span>
                                                <span class="lead-value">@item.PropertyStatus</span>
                                            </li>
                                            <li>
                                                <span class="lead-prop">Posted By</span>
                                                <span class="lead-value">@(string.IsNullOrEmpty(item.PropertyPostedByMobile) ? "NA" : (item.PropertyPostedByName + "|" + @item.PropertyPostedByMobile))</span>
                                            </li>
                                        </ul>
                                    }
                                    @if (!string.IsNullOrEmpty(clientRequirement))
                                    {
                                        <ul><li class="width100p"><b>Client Requirement:</b>@clientRequirement</li></ul>
                                    }
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <h2>No Data Found...</h2>
                    }

                    @{
                        if (Model != null && Model.Lead != null && Model.Lead.Count() > 0)
                        {
                            @Html.Partial("_Pager", new Pager(Model.Lead.FirstOrDefault().TotalRecord, ViewBag.PageIndex, ViewBag.PageSize))
                        }
                    }
                </div>
            </div>
        </div>

    </div>
</div>