﻿@model PropertyLeadVM
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Lead-FollowUp Queue.";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Follow-Up Queue</h5>
                </div>
                <div class="ibox-content">                    
                    <button class="btn btn-primary" id="btnAddNewClientRequirement">Add Requirement</button>&nbsp;&nbsp;&nbsp;&nbsp;    
                    <button class="btn btn-primary" id="btnAssignMoreProperty">Add More Property</button>&nbsp;&nbsp;&nbsp;&nbsp;                        
                    <button class="btn btn-primary" id="btnLeadStatus">Change Status</button>&nbsp;&nbsp;&nbsp;&nbsp;                    
                    @if (Model.Lead != null)
                    {
                        var uniqueVisitor = Model.Lead.GroupBy(x => new { x.VisitorName, x.VisitorMobile, x.IsReferredByAgent, x.LeadAssignTo });
                        foreach (var uniqueItem in uniqueVisitor)
                        {
                            string clientRequirement = "";
                            <div class="lead-box">
                                <div class="lead-header">
                                    <ul>                                        
                                        <li>
                                            <span class="lead-prop">Name</span>
                                            <span class="lead-value">@uniqueItem.Key.VisitorName</span>
                                        </li>
                                        <li>
                                            <span class="lead-prop">Mobile</span>
                                            <span class="lead-value">@uniqueItem.Key.VisitorMobile</span>
                                        </li>
                                        <li>
                                            <span class="lead-prop">Is Reffered By Agent</span>
                                            <span class="lead-value">@(uniqueItem.Key.IsReferredByAgent ? "Yes" : "No")</span>
                                        </li>
                                        <li>
                                            <span class="lead-prop">FollowUp By</span>
                                            <span class="lead-value">@(string.IsNullOrEmpty(uniqueItem.Key.LeadAssignTo) ? "Not assigned" : uniqueItem.Key.LeadAssignTo)</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="lead-body">
                                    @foreach (var item in uniqueItem)
                                    {
                                        if(!string.IsNullOrEmpty(item.Remarks))
                                        { clientRequirement += item.Remarks + "."; }
                                        <ul>
                                            <li>
                                                <span class="lead-prop"><input type="radio" name="lead" value="@item.LeadId"> LID</span>
                                                <span class="lead-value">@item.LeadId</span>
                                            </li>
                                            <li>
                                                <span class="lead-prop">Visit Date Time</span>
                                                <span class="lead-value">@(!string.IsNullOrEmpty(item.VisitDate) ? (Convert.ToDateTime(item.VisitDate).ToString("dd MMM yy")) : "Not scheduled") @item.VisitTime</span>
                                            </li>
                                            <li>
                                                <span class="lead-prop">Lead Status</span>
                                                <span class="lead-value">@item.LeadStatus</span>
                                            </li>
                                            <li>
                                                <span class="lead-prop">P ID</span>
                                                <span class="lead-value">
                                                    @if(string.IsNullOrEmpty(item.PropertyId))
                                                    { <text>NA</text>}
                                                    else
                                                    {
                                                        <a target="_blank" style="text-decoration:underline" href="/property/edit?pid=@item.PropertyId">@item.PropertyId</a>
                                                    }
                                                </span>
                                            </li>
                                            <li>
                                                <span class="lead-prop">P Type</span>
                                                <span class="lead-value">@(string.IsNullOrEmpty(item.PropertyType) ? "NA" : item.PropertyType)</span>
                                            </li>
                                            <li>
                                                <span class="lead-prop">City</span>
                                                <span class="lead-value">@(string.IsNullOrEmpty(item.City) ? "NA" : item.City)</span>
                                            </li>
                                            <li>
                                                <span class="lead-prop">Locality</span>
                                                <span class="lead-value" title="@item.Locality">@(string.IsNullOrEmpty(item.Locality) ? "NA" : (item.Locality.Length > 10) ? item.Locality.Substring(0,10) : item.Locality)</span>
                                            </li>
                                            <li>
                                                <span class="lead-prop">P. Status</span>
                                                <span class="lead-value">@(string.IsNullOrEmpty(item.PropertyStatus) ? "NA" : item.PropertyStatus)</span>
                                            </li>
                                            <li>
                                                <span class="lead-prop">Posted By</span>
                                                <span class="lead-value">@(string.IsNullOrEmpty(item.PropertyPostedByMobile) ? "NA" : (item.PropertyPostedByMobile))</span>
                                            </li>
                                        </ul>                                        
                                    }
                                    @if (!string.IsNullOrEmpty(clientRequirement))
                                    {
                                    <ul><li class="width100p"><b>Client Requirement:</b> @clientRequirement.</li></ul>
                                    }
                                </div>
                            </div>
                        }
                    }

                    @{
                        if (Model != null && Model.Lead != null && Model.Lead.Count() > 0)
                        {
                            @Html.Partial("_Pager", new Pager(Model.Lead.FirstOrDefault().TotalRecord, ViewBag.PageIndex, ViewBag.PageSize))
                        }
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="leadNoteModalPopup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="leadNoteModalContent">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Client Requirement Desciption</h4>
            </div>
            <div class="modal-body">
                <div class="row">                    
                    <div class=" col-md-12">
                        <div class="form-group">
                            <textarea id="Note" class="form-control" placeholder="Enter Comment" maxlength="500"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="button" id="btnAddNote" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="leadStatusModalPopup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="leadStatusModalContent">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Lead Status</h4>
            </div>
            <div class="modal-body">                
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <select class="form-control" id="leadStatus">
                                <option value="">--Status--</option>
                                <option value="CANCELLED">Cancelled</option>
                                <option value="DOCUMENTATION">Documentation</option>
                            </select>
                        </div>
                        <div class="form-group documentation" style="display:none">
                            <select class="form-control" id="isPaymentReceived">
                                <option value="">--Sub Status--</option>
                                <option value="1">Payment Received</option>
                                <option value="0">Payment Pending</option>
                            </select>
                        </div>                    
                        <div class="form-group documentation" style="display:none">
                            <input type="number" id="totalBrokerage" class="form-control" placeholder="Total Brokerage">
                        </div>
                        <div class="form-group documentation" style="display:none">
                            <input type="number" id="amountReceived" class="form-control" placeholder="Amount Received">
                        </div>
                        <div class="form-group documentation" style="display:none">
                            <input type="number" id="ourCharges" class="form-control" placeholder="Flathalt Charges">
                        </div>                        
                        <div class="form-group documentation" style="display:none">
                            <input type="text" id="paymentExpectedDate" class="form-control" placeholder="Payment Expected Date">
                        </div>                        
                        <div class="form-group documentation" style="display:none">
                            <input type="text" id="paymentReceivedDate" class="form-control" placeholder="Payment received Date">
                        </div>                        
                        <div class="form-group documentation" style="display:none">
                            <textarea id="documentationNote" class="form-control" placeholder="Documentation Notes"></textarea>
                        </div>                        
                        <div class="form-group cancellation" style="display:none">
                            <textarea id="cancellationNote" class="form-control" placeholder="Cancellation Notes"></textarea>
                        </div>  
                    </div>                    
                    <div class="col-md-12">                        
                        <button type="button" id="btnUpdateLeadStatus" class="btn btn-primary">Update</button>
                    </div>
                </div>
</div>
            </div>
        </div>
    </div>
<div class="modal fade" id="AssignMorePropertyModalPopup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Assign More Property to Buyer.</h4>
            </div>
            <div class="modal-body">
                <div class="row">                    
                    <div class="col-md-12">                        
                        <div class="form-group">
                            <input type="text" id="PropertyId" class="form-control" value="" autocomplete="off" placeholder="Property ID" />
                        </div>
                        <div class="form-group">
                            <input type="text" id="VisitDate" class="form-control" value="" autocomplete="off" placeholder="Visiting Date" />
                        </div>                                                
                            <div class="form-group">
                                <select class="form-control" id="VisitTime">  
                                    <option>--Time--</option>                                  
                                    @foreach (var item in PropertyVisitTime.GetAll())
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>                            
</div>
                       
                    <div class="col-md-12">
                        <button type="button" id="btnAddMoreProperty" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
<link href="~/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.js"></script>
<script src="~/Content/js/bootstrap-datetimepicker.min.js"></script>

<script>

$(document).ready(function () {                        
                        $('#VisitDate,#paymentExpectedDate,#paymentReceivedDate').datetimepicker({
                            format: 'dd-mm-yyyy',
                            todayBtn: 1,
                            autoclose: 1,
                            todayHighlight: 1,
                            startView: 2,
                            minView: 2,
                            startDate: '-0d'
                        });
});
$('#leadStatus').change(function () {
    if ($(this).val() == "CANCELLED")
    { $('.cancellation').show(); $('.documentation').hide(); }
    else if ($(this).val() == "DOCUMENTATION")
    { $('.cancellation').hide(); $('.documentation').show(); }
});
$('#isPaymentReceived').change(function () {
    if ($(this).val() == "1")
    { $('#paymentExpectedDate').hide(); $('#paymentReceivedDate').show(); }
    else
    { $('#paymentExpectedDate').show(); $('#paymentReceivedDate').hide(); }
});
$('#btnAddNewClientRequirement').click(function () {
        var selectedLead = $("input[name='lead']:checked");
        if(selectedLead.val()=="" || selectedLead.val()==undefined)
          return showError("Please select Lead");
        $('#leadNoteModalPopup').modal('show');
});
$('#btnAddNote').click(function () {
    var leadId = $("input[name='lead']:checked").val();        
    var note = $('#Note').val().trim();
    if (note == "" && note == undefined)
    return showError("Notes Required.");
    if (note.length > 500)
        return showError("Notes shouldn't be greater than 500 characters.");

    $.ajax({
        url: "/PropertyLead/AddClientRequirementNote",
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify({ leadId: leadId, clientNote: note }),
        success: function (data, status) {
            if (data.Success === true) {
                location.reload();
            }
            else
                alert(data.ErrorMessage);
        }
    });

});
$('#btnLeadStatus').click(function () {
    var selectedLead = $("input[name='lead']:checked");
    if (selectedLead.val() == "" || selectedLead.val() == undefined)
        return showError("Please select Lead");
    $('#leadStatusModalPopup').modal('show');
});
$('#btnUpdateLeadStatus').click(function () {
    var leadId = $("input[name='lead']:checked").val();        
    var status = $('#leadStatus').val();
    var postData = null, postUrl = '';

    if (leadId == null || leadId == 0 || leadId == "")
        return showError("Invalid input");

    if (status == "")
        return showError("Please select status.");
   
    if(status=="CANCELLED")
    {
        if($('#cancellationNote').val().length > 500)
            return showError('Cancellation notes must be less than 500 characters.');
         postData = {
            leadId: leadId,            
            status: status,
            comment: $('#cancellationNote').val()
         };
         postUrl = "/propertyLead/UpdateLeadStatus";
    }
    else if (status == "DOCUMENTATION")
    {
        if ($('#isPaymentReceived').val() == '')
            return showError('Please select sub status.');
        if ($('#totalBrokerage').val() == '')
            return showError('total brokerage amount required.');
        if ($('#ourCharges').val() == '')
            return showError('Our charges required.');
        if($('#isPaymentReceived').val() == '1')
        {
            if ($('#paymentReceivedDate').val() == '')
                return showError('Payment expected date required.');
        }
        else if ($('#isPaymentReceived').val() == '0')
        {
            if ($('#paymentExpectedDate').val() == '')
                return showError('Payment expected date required.');
        }

        if ($('#documentationNote').val().length > 500)
            return showError('Documentation note must be less than 500 characters.');

         postData = {
            LeadId: leadId,            
            LeadStatus: status,
            IsPaymentReceived: ($('#isPaymentReceived option:selected').val()=="1"?true:false),
            TotalBrokerage: $('#totalBrokerage').val(),
            AmountReceived: $('#amountReceived').val(),
            OurCharges: $('#ourCharges').val(),
            PaymentExpectedDate: $('#paymentExpectedDate').val(),
            PaymentReceivedDate: $('#paymentReceivedDate').val(),
            Comment: $('#documentationNote').val()
         };
         postUrl = "/propertyLead/UpdateLeadStatusToDocumentation";
    }

    loading.show('#btnUpdateLeadStatus');
    $.ajax({
        url:postUrl,
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify(postData),
        success: function (data, status) {
            if (data.Success == true) {
                reload('Status updated successfully.');
            }
            else
                showError(data.ErrorMessage);
        },
        complete: function () {
            loading.hide('#btnUpdateLeadStatus','Submit');
    }
    });
});
$('#btnAssignMoreProperty').click(function () {
    var selectedLead = $("input[name='lead']:checked");
    if (selectedLead.val() == "" || selectedLead.val() == undefined)
        return showError("Please select Lead");
    $('#AssignMorePropertyModalPopup').modal('show');
});
$('#btnAddMoreProperty').click(function () {
    var propertyId = $('#PropertyId').val().trim();
    var leadId = $("input[name='lead']:checked").val();
    var visitDate = $('#VisitDate').val();
    var visitTime = $('#VisitTime').val();

    if (propertyId == "")
        return showError('PropertyId required.');
    if (visitDate == "")
        return showError('Visit date required.');
    if (visitTime == "")
        return showError('Visit time required.');

    loading.show('#btnAddMoreProperty');
    $.post("/propertylead/AssignMorePropertyToUser", { LeadId: leadId, PropertyId: propertyId, VisitDate: visitDate, VisitTime: visitTime }, function (data) {
        if (data.Success)
            reload('Property assigned successfully.');
        else
            showError(data.ErrorMessage);
        loading.hide('#btnAddMoreProperty', 'Submit');
    });
});

</script>