﻿@model PropertyLeadVM
@{
    ViewBag.Title = "New Lead";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">                
                <div class="space"></div>
                <div class="ibox-title">
                    <h5>New Lead</h5>
                </div>
                <div class="ibox-content">                    
                    <button class="btn btn-primary" id="btnNewLead">Add New Lead</button>
                    <table class="table table-bordered" style="font-size:12px">
                        <thead>
                            <tr>
                                <th>
                                    Sr.No
                                </th>
                                <th>
                                    LeadNo
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Mobile
                                </th>
                                <th>
                                    Visit Date Time
                                </th>                                                                     
                            </tr>                           
                        </thead>
                        <tbody>
                           @if(Model.Lead!=null && Model.Lead.Count()>0)
                           {
                               int index =0;
                               foreach(var item in Model.Lead)
                               {
                                   index++;
                                   <tr>
                                       <td>
                                           @index
                                       </td>
                                       <td>
                                           @item.LeadId
                                       </td>
                                       <td>
                                           @item.VisitorName
                                       </td>
                                       <td>
                                           @item.VisitorMobile
                                       </td>
                                       <td>
                                           @(!string.IsNullOrEmpty(item.VisitDate) ? (Convert.ToDateTime(item.VisitDate).ToString("dd MMM yy")) : "") @item.VisitTime                                         
                                       </td>
                                   </tr>
                               }
                           }
                        </tbody>
                    </table>
                    @{
                        if (Model != null && Model.Lead != null && Model.Lead.Count() > 0)
                        {
                            @Html.Partial("_Pager", new Pager(Model.Lead.FirstOrDefault().TotalRecord, ViewBag.PageIndex, ViewBag.PageSize))
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="leadModalPopup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="leadModalContent">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Lead Assign To Follow Up Team</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <select class="form-control">
                            @if(Model.City!=null)
                            {
                                foreach(var item in Model.City)
                                {
                                    <option value="@item.CityId">@item.CityName</option>
                                }                                
                            }
                        </select>
                    </div>
                    <div class="col-md-5">
                        <select class="form-control area">
                            @if(Model.Area!=null)
                            {
                                foreach(var item in Model.Area)
                                {
                                    <option value="@item.AreaId">@item.AreaName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" id="btnSearchFollowUpTeam">Search</button>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="space"></div>
                <div class="table-responsive">
                    <table id="tblFollowUpTeam" class="table table-striped table-bordered" style="font-size:12px">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="modal fade" id="newleadModalPopup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="newLeadModalContent">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New Lead</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">                        
                        <div class="form-group">
                            <input type="text" id="Name" class="form-control" value="" autocomplete="off" placeholder="Visitor Name" maxlength="50" onkeypress="return isAlpha(event)" />
                        </div> 
                        <div class="form-group">
                            <input type="text" id="Mobile" data-exist="" class="form-control" value="" autocomplete="off" placeholder="Visitor Mobile" maxlength="10" onkeypress="return isInt(event)" />
                        </div>
                        <div class="form-group">
                            <input type="text" id="Email" class="form-control" value="" autocomplete="off" placeholder="Visitor Email" />
                        </div>                                                                                               
                        <div class="col-md-12">
                            <button type="button" id="btnAddNewLead" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="@Url.Content("~/Content/css/select2.min.css")" rel="stylesheet" type="text/css">
<script type="text/javascript" src="@Url.Content("~/Content/js/select2.min.js")"></script>
<script>
    $('#btnNewLeadAssign').click(function(){
        var selectedLead = $("input[name='lead']:checked");
        if(selectedLead.val()=="" || selectedLead.val()==undefined)
        { alert("Please select Lead"); return false; }
        $('#leadModalPopup').modal('show');
    });

    $('#btnNewLead').click(function () {
        $('#newleadModalPopup').modal('show');
    });

    $('#btnAddNewLead').click(function () {
        var mobile = $('#Mobile').val().trim(), name = $('#Name').val().trim(),email = $('#Email').val(),error = "";
        if((name == "" ? error='Name required.' : (name.length > 50 ? error="Name can't be greater than 50 characters." : (!validateOnlyAlpha(name)?error="Name can't contain special characters & number.":""))) && error!="")
         return showError(error);       
        if(!validateMobile(mobile))
          return showError('Invalid mobile no.');
        if (email!="" && !validateEmail(email))
            return showError('Invalid email.');
        $.post("/PropertyLead/AddNewLead", { Mobile: mobile, Name: name, Email:email}, function (data) {
            if (data.Success == true)            
                reload('Lead added successfully.');            
            else
                showError(data.ErrorMessage);
        });
    });

    $('#btnSearchFollowUpTeam').click(function () {
        if($('.area').val() != "" && $('.area').val() != "0")
        {
            $.post("/propertyLead/getFollowUpTeam", { areaId: $('.area').val() }, function (data) {
                if(data.Success)
                {
                    $('#tblFollowUpTeam tbody').html('');
                    $.each(data.Team, function (i, item) {
                        $('#tblFollowUpTeam tbody').append("<tr><td>"+item.Name+"</td><td>"+item.Email+"</td><td><button class='btn btn-primary btn-xs' onclick='LeadAssign("+item.UserId+")'>Assign</button></td></tr>");
                    });
                }
            });
        }
    });

    function LeadAssign(userId)
    {
        var leadId = $("input[name='lead']:checked").val();
        
        if (leadId == null || leadId == "" || leadId == 0)
         return showError("LeadId not supplied");

        if (userId == null || userId == "" || userId == 0)
        { return showError("Invalid input"); return false; }

        var postData = {
            leadId: leadId,            
            assignTo: userId
        };
        $.ajax({
            url: "/PropertyLead/LeadAssignToFollowUpTeam",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(postData),
            success: function (data, status) {
                if (data.Success == true) {
                    $('#leadModalPopup').modal('hide');
                    location.reload();
                }
                else
                    alert(data.ErrorMessage);
            }
        });
    }

    $('.area').select2();
</script>