﻿@using FH.Admin_Web.ViewModel
@model List<EmailSentStatus>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>1</td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Status
                </td>
            </tr>
        }
    </tbody>
</table>
