﻿@using FH.Admin.Entities;
@model CityZoneAreaMapping

@{
    ViewBag.Title = "City-Zone-Area Mapping";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="panel">
                    <div class="panel-heading"><h3>Zone Mapping</h3></div>
                    <div class="panel-body">       
                        <div class="col-md-4">
                            <div class="form-group">
                                <select id="ddCity" class="form-control">
                                    @if (Model != null)
                                    {
                                        if (Model.CityMaster != null)
                                        {
                                            foreach (var city in Model.CityMaster)
                                            {
                                                <option value="@city.CityId">@city.CityName</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" id="txtZone" value="" class="form-control" placeholder="Zone" />
                                <span id="lblZone" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <button id="btnAddZone"  class="btn btn-primary">Add New Zone</button>
                                </div>
                            </div>
                        </div>
</div>

                <div class="panel">
                    <div class="panel-heading"><h3>Area Mapping</h3></div>
                    <div class="panel-body">
                        <div class="col-md-3">
                            <div class="form-group">
                                <select id="ddAreaCity" class="form-control">
                                    <option value="0">--City--</option>
                                    @if (Model != null)
                                    {
                                        if (Model.CityMaster != null)
                                        {
                                            foreach (var city in Model.CityMaster)
                                            {
                                                <option value="@city.CityId">@city.CityName</option>
                                            }
                                        }
                                    }
                                </select>
                                <span id="lblAreaCity" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <select id="ddAreaZone" class="form-control">
                                    <option value="0">--Zone--</option>                                 
                                </select>
                                <span id="lblAreaZone" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" id="txtArea" value="" class="form-control" placeholder="Area" />
                                <span id="lblArea" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <button id="btnAddArea" class="btn btn-primary">Add New Area</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Panel">
                    <div class="panel-heading"><h3>Area Listing</h3></div>
                    <div class="panel-body" id="dvArea">
                        <div class="col-md-12">
                            <table class="table table-bordered" id="tblArea">
                                <thead>
                                    <tr>
                                        <th>
                                            City
                                        </th>
                                        <th>
                                            Zone
                                        </th>
                                        <th>
                                            Area
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                       </div>
                </div>
    </div>
    </div>
        </div>
    </div>
  
 <script>
     $(window).load(function () {
         GetAllArea();
     });

     function GetAllArea() {
         $.get("/master/GetArea", function (data) {
             $.each(data.Area, function (key, value) {
                 $('#tblArea tbody').append("<tr><td>" + value.CityName + "</td><td>" + value.ZoneName + "</td><td>" + value.AreaName + "</td></tr>");
             });
         });     
     }

     $('#btnAddZone').click(function () {
         var zone = $('#txtZone').val().trim();
         var city = $('#ddCity option:selected').val();

         var isValid = true;
         if (zone == "")
         { $('#lblZone').text('Required.'); isValid = false; }
         else if (zone.length > 20)
         { $('#lblZone').text('Max 20 characters allowed.'); isValid = false; }

         if(isValid)
             {
             var postData = {
                 cityId: city,
                 zoneName: zone
             };

             loading.show('#btnAddZone');
             $.ajax({
                 url: "/master/AddNewZone",
                 type: "POST",
                 dataType: "json",
                 contentType: "application/json; charset=utf-8",
                 data: JSON.stringify(postData),
                 success: function (data, status) {
                     if (data.Success == true) {                         
                         $('#txtZone').val('');
                         showSuccessMessage('Zone added sucessfully.');
                     }
                     else
                         showError(data.Message);
                 },
                 complete: function () {
                     loading.hide('#btnAddZone', 'Add New Zone');
                 }

             });
         }


     });

     $('#btnAddArea').click(function () {
         var area = $('#txtArea').val().trim();
         var city = $('#ddAreaCity option:selected').val();
         var zone = $('#ddAreaZone option:selected').val();

         var isValid = true;
         if (area == "")
         { $('#lblArea').text('Required.'); isValid = false; }
         else if (area.length > 50)
         { $('#lblArea').text('Max 50 characters allowed.'); isValid = false; }

         if (isValid) {

             var postData = {
                 cityId: city,
                 zoneId: zone,
                 areaName: area
             };

             loading.show('#btnAddArea');
             $.ajax({
                 url: "/master/AddNewArea",
                 type: "POST",
                 dataType: "json",
                 contentType: "application/json; charset=utf-8",
                 data: JSON.stringify(postData),
                 success: function (data, status) {
                     if (data.Success == true) {
                         $('#txtArea').val('');
                         $('#tblArea tbody').html('');
                         $.each(data.Area, function (key, value) {
                             $('#tblArea tbody').append("<tr><td>" + value.CityName + "</td><td>" + value.ZoneName + "</td><td>" + value.AreaName + "</td></tr>");
                         });
                     }
                     else
                         showError(data.Message);
                 },
                 complete: function () {
                     loading.hide('#btnAddArea','Add New Area');
                 }

             });
         }


     });

     $('#ddAreaCity').change(function () {
         if ($(this).val() == 0)
         { $('#lblAreaCity').text('Required.'); return false; }

         $('.loader').show();
         $.get("/master/GetZone", { cityId: $(this).val() }, function (data) {
             $("#ddAreaZone").val('').html('');
             $.each(data.Zone, function (key, value) {
                 $("#ddAreaZone").append($("<option></option>").val(value.ZoneId).html(value.ZoneName));
             });
             $('.loader').hide();
         });         
     });
</script>